<div class="container-fluid h-100 py-5 my-0" style="position: relative;">
    <video class="z-n1 position-absolute top-0 start-0 w-100 h-100"
           style="object-fit: cover;" autoPlay muted loop playsinline controlslist="nodownload">
        <source src="{{ site.baseurl }}/img/hero_white_play.mp4" type="video/mp4"/>
        Your browser does not support the video tag.
    </video>
    <div class="z-1 position-absolute top-0 start-0 w-100 h-100" style="mix-blend-mode: screen; background: #fcd8b8;"></div>
    <div class="container p-3 p-md-5">
        <div class="row">
            <div class="z-1 col-12 pt-5">
                <div class="z-1 text-wrapper5 text-uppercase" style="color: #001d6c">History
                </div>
                <div class="z-1 secondary-headline pt-2" style="color: #21272a">Timeline</div>
            </div>
        </div>
        <div class="row">
            <div class="z-1 col-md-12 px-3 px-sm-5">
                <div class="hero-label">
                    <p style="text-align: left;">
                        <span class="span2" style="color: #21272a; z-index: 1">The journey of Rombo AI began when our founders recognized the untapped potential of combining AI with spectral analysis.<br />Fueled by a passion for technology and a commitment to excellence, we embarked on a mission to develop solutions that would not only address current analytical challenges but also anticipate future needs.<br />Today, Rombo AI is a trusted partner to companies worldwide, celebrated for our cutting-edge technology, unparalleled expertise, and unwavering support. </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="z-1 col-12 py-5 px-4">
                <div class="z-1 text-wrapper5 text-uppercase" style="color: #001d6c">The Team
                </div>
                <div class="z-1 secondary-headline pt-2" style="color: #21272a">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />Bibendum amet at molestie mattis.</div>
            </div>
        </div>
        <div class="row">
            <div class="z-1 col-md-12 px-3 px-sm-5">
                <div class="hero-label">
                    <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            CEO/Founder:
                        </span>
                        <span class="span2" style="color: #21272a; z-index: 1">Il fondatore della startup, responsabile della visione, della strategia aziendale e della gestione generale della società. Deve avere una conoscenza approfondita del settore e una solida comprensione dei mercati di riferimento.<br />Today, Rombo AI is a trusted partner to companies worldwide, celebrated for our cutting-edge technology, unparalleled expertise, and unwavering support. </span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="z-1 col-md-12 px-3 px-sm-5">
                <div class="hero-label">
                    <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            CTO (Chief Technology Officer):
                        </span>
                        <span class="span2" style="color: #21272a; z-index: 1">Responsabile delle decisioni tecnologiche fondamentali e della supervisione del team di sviluppo. Deve avere una solida esperienza nell'intelligenza artificiale, nell'apprendimento automatico e nell'analisi dei dati, nonché competenze nella gestione dei progetti e delle risorse tecniche.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="z-1 col-md-12 px-3 px-sm-5">
                <div class="hero-label">
                    <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            Data Scientist:
                        </span>
                        <span class="span2" style="color: #21272a; z-index: 1">Esperto nell'analisi dei dati e nello sviluppo di modelli predittivi per l'interpretazione dei dati chimici. Utilizza tecniche di machine learning e statistica per estrarre informazioni significative dai dati, identificare modelli e sviluppare algoritmi di intelligenza artificiale.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="z-1 col-md-12 px-3 px-sm-5 pb-5">
                <div class="hero-label">
                    <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            Ingegnere del software:
                        </span>
                        <span class="span2" style="color: #21272a; z-index: 1">Responsabile della progettazione, dello sviluppo e della manutenzione del software per l'analisi dei dati. Deve avere competenze nella programmazione e nello sviluppo di applicazioni software, nonché familiarità con le tecnologie utilizzate nel settore dell'intelligenza artificiale e dell'analisi dei dati.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>