<div class="container-fluid my-0 position-relative pt-5" style="background: #2F3666;">
    <div class="container custom_container">
        <div class="row">
            <!-- Static Map Section -->
            <div class="col-md-6 p-4 position-relative order-md-1 order-2">
                <div id="map" class="position-relative overflow-hidden" style="height: 422px; width: 100%;"></div>
            </div>
            <!-- Contact Information Section -->
            <div class="col-md-6 py-4 position-relative text-start text-dark order-md-2 order-1">
                <div class="frame-90">
                    <div class="frame-66">
                        <div class="frame-63">
                            <div class="our-location">Our Location</div>
                        </div>
                        <div class="frame-62">
                            <div class="contact-information text-white">Contact information</div>
                        </div>
                        <div class="frame-65">
                            <div class="headquarters text-white">Headquarters</div>
                        </div>
                        <div class="frame-662">
                            <div class="rombo-ai-srl-cagliari-sardinia-italy-open-campus-09123-cagliari text-white">
                                Rombo.ai srl
                                <br/>
                                Cagliari, Sardinia - Italy
                                <br/>
                                Open Campus,
                                <br/>
                                09123 Cagliari
                            </div>
                        </div>
                        <div class="frame-64">
                            <div class="_39-348-23-53-703 text-white">+39 348 23 53 703</div>
                        </div>
                    </div>
                </div>
                <img src="{{ site.baseurl }}/img/livello6.svg" alt="Background" class="position-absolute z-1"
                     style="top: 40px; right: 0; width: 234px; height: 238px; gap: 0px;">
            </div>

        </div>
    </div>
</div>