<!--Hero Section-->
<div class="container-fluid hero-article-section px-0">
    <div class="container">
        <div class="row m-0 pt-5 w-100 h-100 justify-content-center">
            <div class="col-12 px-4 px-md-5 py-5 align-content-center titolo-1" style="max-width: 895px">
                <span class="posted_label">
                    Posted on 27th January 2022
                    <br/>
                </span>
                <span class="post_header">
                    Step-by-step guide to choosing great font pairs
                </span>
            </div>
        </div>
    </div>
    <div class="row m-0 p-4 p-md-5">
        <img src="{{ site.baseurl }}/img/imageHero.png" alt="" class=" m-0 p-0 img-fluid border rounded" style="object-fit: cover">
    </div>
    <div class="container">
        <div class="row m-0 w-100 h-100 justify-content-center">
            <div class="col-12 px-4 px-md-5  align-content-center titolo-1" style="max-width: 895px">
                <span class="post_header" style="font-size: 36px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                    <br/>
                </span>
                <span class="posted_label">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
                </span>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <div class="row m-0 w-100 h-100 justify-content-center">
            <div class="col-12 px-4 px-md-5  align-content-center titolo-1" style="max-width: 895px">
                <span class="post_header" style="font-size: 36px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                    <br/>
                </span>
                <span class="posted_label">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
                <br>
                </span>
                <span class="posted_label">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
                </span>
                <div class="px-5 py-3">
                    <ul>
                        <li class="fw-bold text-dark">Lorem ipsum dolor sit amet</li>
                        <li class="fw-bold text-dark">Non blandit massa enim nec scelerisque</li>
                        <li class="fw-bold text-dark">Neque egestas congue quisque egestas</li>
                    </ul>
                </div>
                <span class="posted_label">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
                </span>
            </div>
        </div>
    </div>
    <div class="container pt-4">
        <div class="row m-0 w-100 h-100 justify-content-center">
            <div class="col-12 px-4 px-md-5  align-content-center titolo-1" style="max-width: 895px">
                <span class="post_header" style="font-size: 36px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                    <br/>
                </span>
                <span class="posted_label">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit gravida rutrum quisque non.
                </span>

                <a href="/article"><div class="andrew-jonson pt-3">Andrew Jonson</div></a>

            </div>
        </div>
    </div>
    <div class="container my-5 py-5"></div>
</div>
<!--Hero Section-->