<!--Articles Section-->
<section class="container-fluid my-0" style="background:#F7F7F7;">
    <div class="container custom_container">
        <div class="row py-5  text-center justify-content-center">
            <h2 class="z-1  fw-bold text-dark" style="font-size: 42px; line-height: 46.2px;">What to read next</h2>
        </div>
        <div class="d-flex justify-content-center">
            <!-- Horizontal List View Container -->
            <div class="horizontal-list-view-container text-center px-3 overflow-auto" id="scrollContainer">
                <!-- Horizontal List View -->
                <div class="horizontal-list-view d-inline-flex">
                    <!-- Scrollable Item 1 -->
                    {% for post in site.posts %}
                        <div class="scrollable-item" style="min-width: 300px; margin-right: 20px;">
                            <img class="post-image"
                                 src= "{{ post.image }}"
                                 alt="All-In-One Analysis Suite">
                            <div class="post-content">
                                <div class="date">{{post.date | date: "%b %d, %Y" }}</div>
                                <div class="title">{{post.title}}</div>
                                <p class="description">{{post.body}}</p>
                            </div>
                        </div>
                    {% endfor %}

                    {% for post in site.data.posts %}
                    <div class="scrollable-item" style="min-width: 300px; margin-right: 20px;">
                        <img class="post-image"
                             src= "{{ post.image }}"
                             alt="All-In-One Analysis Suite">
                        <div class="post-content">
                            <div class="date">{{post.date | date: "%b %d, %Y" }}</div>
                            <div class="title">{{post.title}}</div>
                            <p class="description">{{post.body}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Add more items as needed -->
                </div>
            </div>
        </div>
        <!-- Divider Image -->
        <div class="row py-4"></div>
        <div class="row py-5 px-2 px-md-5">
            <div class="d-flex justify-content-center">
                <input type="range" class="progress-bar" id="scrollProgressBar" value="0" min="0" max="100" step="1"
                       style="width: 90%; margin-top: 20px;">
            </div>
        </div>
    </div>
</section>
<!--Articles Section-->