<!-- Articles Section -->
<section class="container-fluid bg-white">
    <div class="container custom_container">
        <div class="row py-5 px-5 text-left justify-content-center">
            <h2 class="z-1 fw-bold text-dark" style="font-size: 42px; line-height: 46.2px;">What to read next</h2>
        </div>

        <div class="row">
            <div class="col-12">
                <!-- Grid of Posts -->
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    {% for post in site.posts %}
                    <div class="col mb-4 " style="min-width: 300px;">
                        <div class="card h-100">
                            <a href="{{ post.url }}">
                                <img class="post-image"
                                     src="{{ post.image }}"
                                     alt="{{ post.title }}">
                                <div class="post-content">
                                    <div class="date">{{ post.date | date: "%b %d, %Y" }}</div>
                                    <div class="title">{{ post.title }}</div>
                                    <p class="description">{{ post.excerpt | truncate: 100 }}</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Divider Image -->
        <div class="row py-4"></div>

        <div class="row py-5 px-2 px-md-5">
            <div class="d-flex justify-content-center">
                <input type="range" class="progress-bar" id="scrollProgressBar" value="0" min="0" max="100" step="1" style="width: 90%; margin-top: 20px;">
            </div>
        </div>
    </div>
</section>
<!-- Articles Section -->