<!--Articles Section-->
<section class="container-fluid bg-white">
    <div class="row py-5 px-5  text-left justify-content-center">
        <h2 class="z-1  fw-bold text-dark" style="font-size: 42px; line-height: 46.2px;">What to read next</h2>
    </div>
    <div class="d-flex justify-content-center">
        <!-- Horizontal List View Container -->
        <div class="horizontal-list-view-container text-center px-3 overflow-auto bg-white" id="scrollContainer">
            <!-- Horizontal List View -->
            <div class="horizontal-list-view d-inline-flex">
                <!-- Scrollable Item 1 -->
                <div class="scrollable-item" style="min-width: 300px; margin-right: 20px;">
                    <img class="post-image"
                         src="{{ site.baseurl }}/img/https-www-pexels-com-photo-two-women-in-front-of-dry-erase-boa-2.png"
                         alt="All-In-One Analysis Suite">
                    <div class="post-content">
                        <div class="date">Aug 23, 2023</div>
                        <div class="title">All-In-One Analysis Suite</div>
                        <p class="description">Consolidates multiple testing apparatuses into a single, efficient unit,
                            significantly cutting down on equipment expenses and maintenance needs.</p>
                    </div>
                </div>

                <!-- Scrollable Item 2 -->
                <div class="scrollable-item" style="min-width: 300px; margin-right: 20px;">
                    <img class="post-image"
                         src="{{ site.baseurl }}/img/https-www-pexels-com-photo-photo-of-people-doing-handshakes-31-2.png"
                         alt="Fully Automatic Measure">
                    <div class="post-content">
                        <div class="date">Sep 2, 2023</div>
                        <div class="title">Fully Automatic Measure</div>
                        <p class="description">Reduce the manual intervention of specialized personnel. Daily laboratory
                            tasks reduced.</p>
                    </div>
                </div>

                <!-- Scrollable Item 3 -->
                <div class="scrollable-item" style="min-width: 300px; margin-right: 20px;">
                    <img class="post-image"
                         src="{{ site.baseurl }}/img/https-www-pexels-com-photo-photo-of-woman-looking-at-man-31831-2.png"
                         alt="Fully Automatic Measure">
                    <div class="post-content">
                        <div class="date">Sep 2, 2023</div>
                        <div class="title">Fully Automatic Measure</div>
                        <p class="description">Daily laboratory tasks reduced.</p>
                    </div>
                </div>

                <!-- Add more items as needed -->
            </div>
        </div>
    </div>
    <!-- Divider Image -->
    <div class="row py-4"></div>
    <div class="row py-5 px-2 px-md-5">
        <div class="d-flex justify-content-center">
            <input type="range" class="progress-bar" id="scrollProgressBar" value="0" min="0" max="100" step="1" style="width: 90%; margin-top: 20px;">
        </div>
    </div>
</section>
<!--Articles Section-->