<div class="container-fluid  h-100 py-5 my-0" style="position: relative; ">
    <video class="z-n1 position-absolute top-0 start-0 w-100 h-100"
           style="object-fit: cover;" autoPlay muted loop playsinline controlslist="nodownload">
        <source src="{{ site.baseurl }}/img/hero_white_play.mp4" type="video/mp4"/>
        Your browser does not support the video tag.
    </video>
    <div class="z-1 position-absolute top-0 start-0 w-100 h-100"
         style="mix-blend-mode: screen; background: #fcd8b8;"></div>
    <div class="container custom_container">
        <div class="row">
            <div class="z-1 col-12  text-center">
                <p class="z-1  fw-bold text-wrapper5" style="font-size: 20px; letter-spacing: 1px; line-height: 20px;">
                    PROVEN
                    IMPACT,
                    TRUSTED BY INDUSTRY LEADERS</p>
                <h2 class="z-1  fw-bold text-dark" style="font-size: 42px; line-height: 46.2px;">Clients and Partners</h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-center text-center py-5">
            <div class="z-1 col-6 col-md-4 col-lg-2 mb-3">
                <img src="{{ site.baseurl }}/img/clients/gs.png" alt="GreenShare Logo" class="py-2 img-fluid">
            </div>
            <div class="z-1 col-6 col-md-4 col-lg-2 mb-3">
                <img src="{{ site.baseurl }}/img/clients/abinsula.png" alt="Abisnula Logo" class="py-2 img-fluid">
            </div>
            <div class="z-1 col-6 col-md-4 col-lg-2 mb-3">
                <img src="{{ site.baseurl }}/img/clients/Nanalysis.png" alt="Nanalysis Logo" class="py-2 img-fluid">
            </div>
            <div class="z-1 col-6 col-md-6 col-lg-2 mb-3">
                <img src="{{ site.baseurl }}/img/clients/oc.webp" alt="Open Campus Logo" class="py-2 img-fluid">
            </div>
            <div class="z-1 col-8 col-md-6 col-lg-2 mb-3">
                <img src="{{ site.baseurl }}/img/clients/nsgroup.png" alt="Net Service Logo" class="py-2 img-fluid">
            </div>
        </div>
    </div>

    <img class="w-100 m-0  client-divider-container" style="bottom:-10px; object-fit: cover"
         src="{{ site.baseurl }}/img/Separator_Client.svg" alt="Vector"/>


</div>