<div class="container-fluid  h-100 py-5 my-0 border-start border-end" style="position: relative; ">
    <video class="z-n1 position-absolute top-0 start-0 w-100 h-100"
           style="object-fit: cover;" autoPlay muted loop playsinline controlslist="nodownload">
        <source src="{{ site.baseurl }}/img/hero_white_play.mp4" type="video/mp4"/>
        Your browser does not support the video tag.
    </video>
    <div class="z-1 position-absolute top-0 start-0 w-100 h-100" style="mix-blend-mode: screen; background: #fcd8b8;"></div>
    <div class="d-flex flex-column justify-content-center align-items-center h-100 text-center py-5">
        <p class="z-1  fw-bold text-wrapper5" style="font-size: 20px; letter-spacing: 1px; line-height: 20px;">PROVEN
            IMPACT,
            TRUSTED BY INDUSTRY LEADERS</p>
        <h2 class="z-1  fw-bold text-dark" style="font-size: 42px; line-height: 46.2px;">Clients and Partners</h2>

        <!-- Image for Medium (md) and up -->
        <img src="{{ site.baseurl }}/img/Clients.svg" alt="Image 13" class="z-1 py-2 img-fluid d-none d-md-block">

        <!-- Image for Small (sm) devices only -->
        <img src="{{ site.baseurl }}/img/Client2.svg" alt="Image 13" class="z-1 py-2 img-fluid d-none d-sm-block d-md-none">

        <!-- Image for Extra Small (xs) devices (less than sm) -->
        <img src="{{ site.baseurl }}/img/Client3.svg" alt="Image 13" class="z-1 py-2 img-fluid d-block d-sm-none">

    </div>

    <img class="w-100 m-0  client-divider-container" style="bottom:-10px; object-fit: cover"
         src="{{ site.baseurl }}/img/Separator_Client.svg" alt="Vector"/>


</div>