<section class="container-fluid  justify-content-center text-center text-white py-5 h-100"
         style=" background: #303767">
    <div class="container custom-container d-flex flex-column  justify-content-center align-items-center text-center">
        <p class="fw-bold pt-5 text-uppercase" style="font-size: 20px; color:#FE900F">{{ site.engage_main_title }}</p>
        <h2 class="fw-bold py-5 text-white secondary-headline" style="font-size: 42px;">{{ site.engage_sub_title }}</h2>

        <p class="px-3" style="font-size: 16px;">
            {{ site.engage_message_part_one }}
        </p>
        <a href="{{ site.baseurl }}/contact" class="text-decoration-none pt-5">
            <div class="d-flex justify-content-center align-items-center  gap-0">
                <button class="btn rounded-pill"
                        style="background:#FE900F; color: white; padding:15px 25px 15px 25px; margin-right:-8px;">
                    Contact
                </button>
                <img class="d-inline-block" src="{{ site.baseurl }}/img/group-2-2.png" alt="Group" style="width: 35px; height: 41px;">
                <button class="btn rounded-pill"
                        style="background:#FE900F; color: white; padding:15px;margin-left:-8px;">
                    now
                </button>
            </div>
        </a>
    </div>
</section>