<!-- Footer -->
<footer>
    <div class="container-fluid border-bottom">
        <div class="container custom-container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-4 footer-logo">
                    <img
                            alt="RomboAI"
                            class="img-fluid"
                            src="{{ site.baseurl }}/img/romboai-04-1-2.png"
                            style="max-height: 79px; width: 200px;"
                    />
                </div>
                <div class="col-12 col-md-8">
                    <div class="row m-0 d-flex align-items-center h-100">
                        <p class="footer-text col-10 col-md-10 m-0 text-md-left text-lg-left">
                            ROMBO AI © 2024 |
                            <a href="{{ site.baseurl }}/privacy" style="color:#007bff;">Privacy Policy</a>
                        </p>
                        <!-- Remove col-* classes from the anchor tag to avoid issues with layout -->
                        <a class="ml-auto col-2 col-md-2 d-flex justify-content-center" href="https://www.linkedin.com/company/rombo-ai/"
                           rel="noopener noreferrer" target="_blank">
                            <img alt="LinkedIn" class="img-fluid"
                                 src="{{ site.baseurl }}/img/icon-jam-icons-outline-logos-linkedin-1.svg"
                                 style="max-width: 24px;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->