<!-- Footer -->
<footer>
    <div class="container-fluid border-start border-end border-bottom">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-4 footer-logo">
                <img
                        alt="RomboAI"
                        class="img-fluid"
                        src="{{ site.baseurl }}/img/romboai-04-1-2.png"
                        style="max-height: 79px; width: 200px;"
                />
            </div>
            <div class="col-12 col-md-8 text-center">
                <div class="row m-0 d-flex justify-content-center align-items-center h-100">
                    <p class="footer-text col-10 col-md-10 m-0 text-md-center text-lg-left">ROMBO.AI© 2024 - Open
                        Campus, 09123 Cagliari | <a href="{{ site.baseurl }}/privacy" style="color:#007bff;">Privacy Policy</a></p>
                    <a class="col-2 col-md-2" href="https://www.linkedin.com" rel="noopener noreferrer" target="_blank">
                        <img alt="LinkedIn" src="{{ site.baseurl }}/img/icon-jam-icons-outline-logos-linkedin-1.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->

      