<!-- Footer -->
<footer>
    <div class="container-fluid border-bottom">
        <div class="container custom-container">
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-4 footer-logo">
                    <img
                            alt="Rombo AI"
                            class="img-fluid"
                            src="{{ site.baseurl }}/img/romboai-04-1-2.png"
                            width="200" height="79"
                            loading="lazy"
                    />
                </div>
                <div class="col-12 col-md-8">
                    <div class="row m-0 d-flex align-items-center h-100">
                        <p class="footer-text col-10 col-md-10 m-0 text-md-left text-lg-left">
                            ROMBO AI © 2026 |
                            <a href="{{ site.baseurl }}/privacy/" style="color:#007bff;">Privacy Policy</a>
                        </p>
                        <a class="col-2 col-md-2 d-flex justify-content-start" href="https://www.linkedin.com/company/rombo-ai/"
                           rel="noopener noreferrer" target="_blank" aria-label="Rombo AI on LinkedIn">
                            <img alt="LinkedIn" class="img-fluid"
                                 src="{{ site.baseurl }}/img/icon-jam-icons-outline-logos-linkedin-1.svg"
                                 width="24" height="24" loading="lazy">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer -->

