<!--Hero Section-->
<div class="container-fluid  hero-contact-section">
    <!-- Video -->
    <video class="hero-video" autoplay muted loop playsinline controlslist="nodownload">
        <source src="{{ site.baseurl }}/img/hero_back_play.mp4" type="video/mp4"/>
        Your browser does not support the video tag.
    </video>

    <!-- Mask Overlay -->
    <div class="mask"></div>
    <div class="z-1 container position-relative py-5">
        <div class="row justify-content-center align-items-start py-5">
            <div class="col-md-6 pt-5">
                <div class="contact-us py-3">Contact us</div>
                <div class="label text-white" style="font-size: 18px; padding-right: 100px;">
                    At Rombo AI, we&#039;re committed to supporting your journey towards
                    revolutionizing spectral analysis with AI.
                    <br/>
                    <br/>
                    Whether you have questions, need technical support, or want to explore how our
                    solutions can benefit your organization, our team is ready to assist.
                </div>
            </div>
            <div class="col-md-6 my-5 position-relative ">
                <div class="bg-white border border-secondary rounded-3 shadow p-4 text-start text-dark">
                    <div class="mb-4 text-left">
                        <p class="contact-secondary-headline">Get In Touch</p>
                        <p class="label">Rhoncus morbi et augue nec, in id ullamcorper at sit.</p>
                    </div>
                    <form id="contact-form" data-toggle="validator" action="https://app.99inbound.com/api/e/TfLbh_oL" method="POST">
                        <div class="form-group row mb-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="label">First Name</label>
                                <input required type="text" name="name" id="firstName"
                                       class="form-control bg-light border-0 border-secondary rounded-1"
                                       placeholder="First Name">
                            </div>
                            <div class="col-sm-6">
                                <label for="lastName" class="label">Last Name</label>
                                <input required type="text" name="surname" id="lastName"
                                       class="form-control bg-light border-0 border-secondary rounded-1"
                                       placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="role" class="label">Role / Company</label>
                            <input required type="text" name="company" id="role"
                                   class="form-control bg-light border-0 border-secondary rounded-1"
                                   placeholder="Role / Company">
                        </div>
                        <div class="form-group mb-3">
                            <label for="email" class="label">Email</label>
                            <input required type="email" name="email" id="email"
                                   class="form-control bg-light border-0 border-secondary rounded-1"
                                   placeholder="Email">
                        </div>
                        <div class="form-group mb-3">
                            <label for="telephone" class="label">Telephone</label>
                            <input required type="text" name="telephone" id="telephone"
                                   class="form-control bg-light border-0 border-secondary rounded-1"
                                   placeholder="Telephone">
                        </div>
                        <div class="form-group mb-3">
                            <label for="role" class="label">Role</label>
                            <div class="input-group">
                                <select name="role" id="role" class="form-control bg-light border-0 border-secondary rounded-1">
                                    <option value="Management">Management</option>
                                    <option value="CTO">CTO</option>
                                    <option value="Product Owner">Product Owner</option>
                                    <option value="Employee">Employee</option>
                                    <option value="Other">Other</option>
                                </select>
                                <span class="input-group-text bg-white border-0">
                <img src="{{ site.baseurl }}/img/chevron-down.svg" alt="Arrow Down" width="24" height="24">
            </span>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="query" class="label">Message</label>
                            <textarea required name="query" id="query"
                                      class="form-control bg-light border-0 border-secondary rounded-1"
                                      placeholder="Type your message here..."></textarea>
                        </div>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-8">
                                <div class="form-group form-check mb-3">
                                    <input required type="checkbox" id="terms" name="terms" class="form-check-input">
                                    <label for="terms" class="form-check-label label fw-bold">
                                        I agree to the <a href="#">Terms and conditions</a>. By registering, you confirm that you agree
                                        to the processing of your personal data by Rombo AI as described in the <a href="#">Privacy Statement</a>.
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 text-md-end text-center">
                                <button type="submit" class="btn rounded-pill px-4 py-2 label"
                                        style="background:#FE900F; color: white; padding:16px;">Send email
                                </button>
                            </div>
                        </div>
                        <!-- Hidden field for spam protection -->
                        <div style="position: absolute; left: -5000px;">
                            <input type="checkbox" name="wonderful_forest_green_pinstriped_banana_slug" value="1" tabindex="-1" autocomplete="no">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Hero Section-->