<!--Hero Section-->
<div class="container-fluid  hero-contact-section border-start border-end">
    <!-- Video -->
    <video class="hero-video" autoplay muted loop playsinline controlslist="nodownload">
        <source src="{{ site.baseurl }}/img/hero_back_play.mp4" type="video/mp4"/>
        Your browser does not support the video tag.
    </video>

    <!-- Mask Overlay -->
    <div class="mask"></div>
    <div class="z-1 container position-relative py-5">
        <div class="row justify-content-center align-items-start py-5">
            <div class="col-md-6 pt-5">
                <div class="contact-us py-3">Contact us</div>
                <div class="label text-white" style="font-size: 18px; padding-right: 100px;">
                    At Rombo AI, we&#039;re committed to supporting your journey towards
                    revolutionizing spectral analysis with AI.
                    <br/>
                    <br/>
                    Whether you have questions, need technical support, or want to explore how our
                    solutions can benefit your organization, our team is ready to assist.
                </div>
            </div>
            <div class="col-md-6 my-5 position-relative ">
                <div class="bg-white border border-secondary rounded-3 shadow p-4 text-start text-dark">
                    <div class="mb-4 text-left">
                        <p class="contact-secondary-headline">Get In Touch</p>
                        <p class="label">Rhoncus morbi et augue nec, in id ullamcorper at sit.</p>
                    </div>
                    <form>
                        <div class="form-group row mb-3">
                            <div class="col-sm-6">
                                <label for="firstName" class="label">First Name</label>
                                <input type="text" id="firstName"
                                       class="form-control bg-light border-0   border-secondary rounded-1"
                                       placeholder="First Name">
                            </div>
                            <div class="col-sm-6">
                                <label for="lastName" class="label">Last Name</label>
                                <input type="text" id="lastName"
                                       class="form-control bg-light border-0   border-secondary rounded-1"
                                       placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="role" class="label">ROLE / Company</label>
                            <input type="text" id="role"
                                   class="form-control bg-light border-0   border-secondary rounded-1"
                                   placeholder="Role / Company">
                        </div>
                        <div class="form-group mb-3">
                            <label for="email" class="label">Email</label>
                            <input type="email" id="email"
                                   class="form-control bg-light border-0   border-secondary rounded-1"
                                   placeholder="Email">
                        </div>
                        <div class="form-group mb-3">
                            <label for="telephone" class="label">Telephone</label>
                            <div class="input-group">
                                <input type="tel" id="telephone"
                                       class="form-control bg-light border-0   border-secondary rounded-1"
                                       placeholder="Telephone">
                                <span class="input-group-text bg-white border-0">
                        <img src="{{ site.baseurl }}/img/chevron-down.svg" alt="Arrow Down" width="24" height="24">
                    </span>
                            </div>
                        </div>

                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-8">
                                <div class="form-group form-check mb-3">
                                    <input type="checkbox" id="terms" class="form-check-input">
                                    <label for="terms" class="form-check-label label fw-bold">
                                        I agree to the Terms and conditions. By registering, you confirm that you agree
                                        to the
                                        processing of your personal data by Rombo AI as described in the Privacy
                                        Statement.
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4  text-md-end text-center">
                                <button type="submit" class="btn rounded-pill px-4 py-2 label"
                                        style="background:#FE900F; color: white; padding:16px;">Send email
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Hero Section-->