<!--Hero Section-->
<div class="container-fluid hero-blog-section px-0 border-start border-end">
    <div id="carouselExampleDark"
         class="carousel carousel-light slide">
        <div class="hero_contact_mask1" style="z-index: 1;"></div>
        <div class="hero_contact_mask" style="z-index: 1;"></div>
        <img src="{{ site.baseurl }}/img/imageHero.png" alt="" class="img-fluid position-absolute"
             style=" height: 100%; width: 100%; object-fit: cover; left: 0;right:0; z-index: 1; mix-blend-mode: soft-light;">
        <div class="carousel-indicators pb-5 mb-5">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0"
                    class="slide-button active ellipse"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                    class="slide-button ellipse"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                    class="slide-button ellipse"
                    aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                    class="slide-button ellipse"
                    aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"
                    class="slide-button ellipse"
                    aria-label="Slide 5"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000" style="z-index: 1;">
                <!-- Replace the SVG with an Image or Custom Content -->
                <div class="row mx-0 px-5 custom-slide-content d-block"
                     style="height: 740px; background-color: rgba(255,255,255,0); display: flex; align-items: center; justify-content: center;">

                    <div class="row mx-0 w-100 h-100 justify-content-center align-content-center text-center">
                        <div class="col-md-6 px-md-4 align-content-center titolo-1">
                            <div class="titolo-1-span">
                                Article_01
                            </div>
                            <div class="span1 py-4">
                                Nec massa viverra eget feugiat pellentesque. Feugiat adipiscing massa vitae
                                auctor mi massa. Sodales libero viverra cursus sed duis luctus nulla. In
                                malesuada vulputate pharetra ipsum orci.
                            </div>
                            <div class="button">
                                <div class="text-container">
                                    <div class="button-text">Read more</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 d-none d-none d-md-block justify-content-center align-content-center z-1">
                            <img class="img-fluid"
                                 style="object-fit: cover; transform: rotate(-15.4deg) scale(1, 1); padding-top:150px;"
                                 alt="forma"
                                 src="{{ site.baseurl }}/img/forma1.png"/>
                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000" style="z-index: 1;">
                <!-- Replace the SVG with an Image or Custom Content -->
                <div class="row custom-slide-content d-block w-100 justify-content-center align-content-center text-center"
                     style="height: 740px; background-color: rgba(255,255,255,0); display: flex; align-items: center; justify-content: center;">
                    <div class="col-12">
                        <h2>Second Slide Title</h2>
                        <p>Some custom content for the first slide.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item" style="z-index: 1;">
                <!-- Replace the SVG with an Image or Custom Content -->
                <div class="row custom-slide-content d-block w-100 justify-content-center align-content-center text-center"
                     style="height: 740px; background-color: rgba(255,255,255,0); display: flex; align-items: center; justify-content: center;">
                    <div class="col-12">
                        <h2>Third Slide Title</h2>
                        <p>Some custom content for the first slide.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!--Hero Section-->