<!--Hero Section-->
<div class="container-xxl  hero-section border-start border-end">
    <!-- Video -->
    <video class="hero-video" autoplay muted loop playsinline controlslist="nodownload">
        <source src="{{ site.baseurl }}/img/hero_back_play.mp4" type="video/mp4"/>
        Your browser does not support the video tag.
    </video>

    <!-- Mask Overlay -->
    <div class="mask"></div>
    <div class="row m-0 w-100  h-100 hero-content-message">
        <p class="col-md-6 align-self-center fw-bold text-white text-responsive" style="text-align: left">
            Revolutionizing Spectral Analysis with Artificial Intelligence
        </p>
    </div>
</div>
<!--Hero Section-->