<!--Hero Section-->
<div class="container-xxl  hero-section border-start border-end">
    <!-- Video -->
    <video class="hero-video" autoplay muted loop playsinline controlslist="nodownload">
        <source src="{{ site.baseurl }}/img/hero_back_play.mp4" type="video/mp4"/>
        Your browser does not support the video tag.
    </video>

    <!-- Mask Overlay -->
    <div class="mask"></div>
    <div class="row m-0 w-100  h-100">
        <div class="col-md-7 px-5 px-md-4 align-content-center titolo-1">
            <span class="titolo-1-span">
              Full crude oil assay in minutes
                <br/>
            </span>
            <span class="titolo-1-span2">
              The fastest crude oil quality analyser for refineries,
              powered by AI and low-field NMR technology
            </span>
        </div>
        <div class="col-md-5 d-none d-none d-md-block justify-content-center align-content-center z-1">
            <img class="img-fluid forma-5-1" style="object-fit: cover " alt="forma" src="{{ site.baseurl }}/img/forma-5-10.png" />
        </div>

    </div>
</div>
<!--Hero Section-->