<!--Intro Section-->
<div class="container-xxl py-4 border-start border-end">
    <div class="row justify-content-center intro-header">
        <div class="col-12">
            <div class="top">
                <p class="text-wrapper5">WELCOME TO A WORLD OF PRECISION, EFFICIENCY, AND INNOVATION.</p>
                <p class="text-wrapper6">Unlocking a New Era in Chemical Analysis</p>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <!-- Left Image (Hidden on Mobile) -->
        <div class="col-md-1 d-none d-md-block text-center px-0">
            <img class="img-fluid intro-left" style="padding-right: 21px;" src="{{ site.baseurl }}/img/livello-1-7.svg"
                 alt="Left Level">
        </div>

        <!-- Main Content with Background Image -->
        <div class="col-md-10 px-0 intro-body">
            <img class="img-fluid d-none d-sm-block background-image" src="{{ site.baseurl }}/img/livello-1-5.svg"
                 alt="Background Level">
            <div class="row text-center w-100">
                <div class="col-lg-3 col-sm-6 p-5 p-md-2">
                    <img src="{{ site.baseurl }}/img/modalit-isolamento-8.svg" alt="Precision Icon">
                    <p style=" padding-top: 20px">
                        <span class="text-wrapper28">Precision Redefined</span><br>
                        <span class="text-wrapper29">Our fusion of </span>
                        <span class="text-wrapper30">Low Field NMR</span>
                        <span class="text-wrapper29"> and AI delivers unparalleled accuracy, offering insights beyond traditional methods.</span>
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 p-5 p-md-2">
                    <img src="{{ site.baseurl }}/img/modalit-isolamento-9.svg" alt="Efficiency Icon">
                    <p style=" padding-top: 20px">
                        <span class="text-wrapper28">Efficiency and Speed</span><br>
                        <span class="text-wrapper29">Say goodbye to time-consuming analysis processes. Our solution ensures quicker decision-making and faster time-to-market for your products.</span>
                        <span class="text-wrapper21"> 15 minutes</span>
                        <span class="text-wrapper29"> compared to weeks of traditional laboratory analysis.</span>
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 p-5 p-md-2">
                    <img src="{{ site.baseurl }}/img/modalit-isolamento-10.svg"
                         alt="Understanding Icon">
                    <p style=" padding-top: 20px">
                        <span class="text-wrapper28">In-depth Understanding</span><br>
                        <span class="text-wrapper29">Gain a comprehensive understanding of your product's composition and behavior, empowering data-driven decisions that fuel innovation and enhance quality.</span>
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 p-5 p-md-2">
                    <img src="{{ site.baseurl }}/img/modalit-isolamento-11.svg" alt="Cost Effective Icon">
                    <p style=" padding-top: 20px">
                        <span class="text-wrapper28">Cost-Effective Solutions</span><br>
                        <span class="text-wrapper29">Optimize costs by streamlining analysis processes, reducing manual labor, and eliminating potential errors associated with conventional methods.</span>
                    </p>
                </div>
            </div>
        </div>

        <!-- Right Image (Hidden on Mobile) -->
        <div class="col-md-1 d-none d-md-block text-center px-0">
            <img class="img-fluid intro-right" style="padding-left: 21px;" src="{{ site.baseurl }}/img/livello-1-6.svg"
                 alt="Right Level">
        </div>
    </div>
</div>

<!--Intro Section-->