<!--Intro Section-->
<div class="container-fluid py-4">
    <div class="row justify-content-center intro-header">
        <div class="col-12">
            <div class="top text-center">
                <p class="text-wrapper5">{{ page.intro_main_title }}</p>
                <p class="text-wrapper6">{{ page.intro_sub_title }}</p>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <!-- Left Image (Hidden on Mobile) -->
        <div class="col-md-1 d-none d-md-block text-start px-0">
            <img class="img-fluid intro-left" style="padding-right: 21px;" src="{{ site.baseurl }}/img/livello-1-7.svg"
                 alt="Left Level">
        </div>

        <!-- Main Content with Background Image -->
        <div class="col-md-10 px-0 intro-body">
<!--            <img class="img-fluid d-none d-sm-block background-image" src="{{ site.baseurl }}/img/livello-1-5.svg"-->
<!--                 alt="Background Level">-->
            <div class="row text-center w-100">
                <div class="col-lg-3 col-sm-6 p-5 p-md-2">
                    <img src="{{ site.baseurl }}/img/modalit-isolamento-8.svg" alt="Precision Icon">
                    <p style=" padding-top: 20px">
                        <span class="text-wrapper28">{{page.intro_message_part_one}}</span><br>
                        <span class="text-wrapper29">{{page.intro_message_part_two}} </span>
                        <span class="text-wrapper30">{{page.intro_message_part_three}}</span>
                        <span class="text-wrapper29"> {{page.intro_message_part_four}}</span>
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 p-5 p-md-2">
                    <img src="{{ site.baseurl }}/img/modalit-isolamento-9.svg" alt="Efficiency Icon">
                    <p style=" padding-top: 20px">
                        <span class="text-wrapper28">{{page.intro_message_part_five}}</span><br>
                        <span class="text-wrapper29">{{page.intro_message_part_six}}</span>
                        <span class="text-wrapper21"> 1{{page.intro_message_part_seven}}</span>
                        <span class="text-wrapper29"> {{page.intro_message_part_eight}}</span>
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 p-5 p-md-2">
                    <img src="{{ site.baseurl }}/img/modalit-isolamento-10.svg"
                         alt="Understanding Icon">
                    <p style=" padding-top: 20px">
                        <span class="text-wrapper28">{{page.intro_message_part_nine}}</span><br>
                        <span class="text-wrapper29">{{page.intro_message_part_ten}}</span>
                    </p>
                </div>
                <div class="col-lg-3 col-sm-6 p-5 p-md-2">
                    <img src="{{ site.baseurl }}/img/modalit-isolamento-11.svg" alt="Cost Effective Icon">
                    <p style=" padding-top: 20px">
                        <span class="text-wrapper28">{{page.intro_message_part_eleven}}</span><br>
                        <span class="text-wrapper29">{{page.intro_message_part_twelve}}</span>
                    </p>
                </div>
            </div>
        </div>

        <!-- Right Image (Hidden on Mobile) -->
        <div class="col-md-1 d-none d-md-block text-end px-0">
            <img class="img-fluid intro-right" style="padding-left: 21px;" src="{{ site.baseurl }}/img/livello-1-6.svg"
                 alt="Right Level">
        </div>
    </div>
</div>

<!--Intro Section-->