<!-- Menu -->

<nav class="container-fluid navbar fixed-top navbar-expand-md navbar-light custom-shadow" style="max-height: 58px; background: #090C2333;
">

    <!-- Logo -->
    <a class="navbar-brand" style="padding-left: 10px; padding-bottom: 5px" href="{{ site.baseurl }}/#">
        <img src="{{ site.baseurl }}/img/logo-1.svg" alt="Rombo AI Logo" class="img-fluid">
    </a>
    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto nev-mobile">
            <li class="nav-item">
                <a class="nav-link menu-item text-white" href="{{ site.baseurl }}/contact">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-item text-white" href="{{ site.baseurl }}/about">About Us</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle menu-item text-white" href="{{ site.baseurl }}/product"
                   id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Products
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" data-bs-theme="light">
                    <li><a class="dropdown-item menu-item text-white" href="{{ site.baseurl }}/product">NMR AI
                        ANALYZER</a></li>
                    <!-- More products can be added here -->
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle menu-item text-white" href="#" id="navbarDropdownResources"
                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Resources
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownResources" data-bs-theme="light">
                    <li><a class="dropdown-item menu-item text-white" href="{{ site.baseurl }}/blog">Blogs</a></li>
                    <li><a class="dropdown-item menu-item text-white" href="{{ site.baseurl }}/article">Articles</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!-- Menu -->

      