<!-- Landing Menu -->

<a class="skip-link" href="#main-content">Skip to content</a>

<nav class="container-fluid navbar fixed-top navbar-expand-md navbar-light custom-shadow" style="max-height: 58px; background:#090C2333;">
    <div class="container custom-container">
        <!-- Logo -->
        <a class="navbar-brand" style="padding-left: 10px; padding-bottom: 5px" href="{{ site.baseurl }}/#">
            <img src="{{ site.baseurl }}/img/logo-1.svg" alt="Rombo AI Logo" class="img-fluid" >
        </a>
        <!-- Toggler/collapsible Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto nev-mobile">
                <li class="nav-item">
                    <a class="nav-link menu-item text-white" href="{{ site.baseurl }}/contact/">Contact Us</a>
                </li>
             
            </ul>
        </div>
    </div>
</nav>
<!-- Landing Menu --> 