<div class="container-fluid w-100 h-100 position-relative" style="overflow: hidden">
    <div class="row">
        <img class="img-fluid" style="position: absolute; top: -10%; left: 50%; width: 100%; z-index: -1; transform: scale(-1)"
             src="{{ site.baseurl }}/img/back-logo.png" alt="forma">

        <img class="img-fluid" style="position: absolute; top: 50%; right: 50%; bottom: 0; width: 100%; z-index: -1; transform: scale(-1)"
             src="{{ site.baseurl }}/img/livello-1-2.svg" alt="forma">
        <img class="img-fluid" style="position: absolute; bottom: -10%; left: 50%; width: 100%; z-index: -1; transform: scale(-1)"
             src="{{ site.baseurl }}/img/back-logo.png" alt="forma">

        <div class="row d-flex flex-row py-5 justify-content-center align-items-center text-center">
            <p class="fw-bold  text-uppercase" style="font-size: 20px; color:#fe900f;">PRODUCT FEATURES</p>
            <h2 class="fw-bold secondary-headline text-dark" style="font-size: 42px;">
                NMR AI Analyzer
            </h2>

        </div>



        </div>
        <div class="row fw-bold pt-1 text-dark g-md-3 text-center" style="font-size: 16px;">
            <div class="col-md-2 pb-md-2 pb-3 text-uppercase">Benchtop NMR Hardware</div>
            <div class="col-md-2 pb-md-2 pb-3 text-uppercase">Personal computer</div>
            <div class="col-md-2 pb-md-2 pb-3 text-uppercase">SW + AI models</div>
            <div class="col-md-2 pb-md-2 pb-3 text-uppercase">specific sampling guidance</div>
            <div class="col-md-2 pb-md-2 pb-3 text-uppercase">AI Model DevelopmenT</div>
            <div class="col-md-2 pb-md-2 pb-3 text-uppercase">End User Training</div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="z-1  py-5 px-5">
                        <div class="z-1 secondary-headline pt-2" style="color: #21272a; text-align: left">All-In-One
                            Crude
                            Oil Analysis Suite
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="z-1  py-2 px-5">
                        <div class="hero-label">
                            <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            Reduced Hardware and Maintenance Costs:
                        </span>
                                <span class="span2" style="color: #21272a; z-index: 1">Consolidates multiple testing apparatuses into a single, efficient unit, significantly cutting down on equipment expenses and maintenance needs.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="z-1  py-2 px-5">
                        <div class="hero-label">
                            <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            Data-Driven Insights:
                        </span>
                                <span class="span2" style="color: #21272a; z-index: 1">AI integration provides deeper analytical capabilities, enhancing predictive maintenance and operational strategy.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="z-1  py-2 px-5">
                        <div class="hero-label">
                            <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            Enhanced Operational Efficiency:
                        </span>
                                <span class="span2" style="color: #21272a; z-index: 1">Streamlines the analysis process, allowing for quicker decision-making and improved workflow. One single device for all quality and property estimation needs.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  justify-content-center align-content-center z-1">
                <img class="img-fluid forma-5-1" style="object-fit: cover " alt="forma" src="{{ site.baseurl }}/img/forma-5-10.png"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6  justify-content-center align-content-center z-1 order-md-1 order-2">
                <img class="img-fluid forma-5-1" style="object-fit: cover " alt="forma" src="{{ site.baseurl }}/img/forma4.png"/>
            </div>
            <div class="col-md-6 order-md-2 order-1">
                <div class="row">
                    <div class="z-1  py-5 px-5">
                        <div class="z-1 secondary-headline pt-2" style="color: #21272a; text-align: left">Full Crude Oil
                            Assay Analysis
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="z-1  py-2 px-5">
                        <div class="hero-label">
                            <p style="text-align: left;">
                            <span class="span2" style="color: #21272a; z-index: 1">Leverages the combined power of Nuclear Magnetic Resonance (NMR) and Artificial Intelligence (AI) to accurately estimate                         <span
                                    class="span" style="color: #21272a; z-index: 1">
                            over 40 different properties of crude oil
                        </span>, including but not limited to density, viscosity, sulfur content, and more.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="z-1  py-2 px-5">
                        <div class="hero-label">
                            <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            ASTM/ISO Accuracy:<br/>
                        </span>
                                <span class="span2" style="color: #21272a; z-index: 1">Adheres to stringent American Society for Testing and Materials (ASTM) and International Organization for Standardization (ISO) accuracy standards, ensuring high-quality, reliable results.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="z-1  py-2 px-5">
                        <div class="hero-label">
                            <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            Reliability and Accuracy of Conventional Analyzers:reamlined customer service:<br/>
                        </span>
                                <span class="span2" style="color: #21272a; z-index: 1">Matches or exceeds the performance of traditional crude oil analysis equipment in terms of reliability and accuracy, providing confidence in the results.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="z-1  py-2 px-5">
                        <div class="hero-label">
                            <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            Streamlined Analysis Process:<br/>
                        </span>
                                <span class="span2" style="color: #21272a; z-index: 1">Reduces the need for multiple tests and equipment, leading to a more efficient workflow.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="z-1  py-2 px-5">
                        <div class="hero-label">
                            <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            Data-Driven Decision Making:<br/>
                        </span>
                                <span class="span2" style="color: #21272a; z-index: 1">Empowers operators with precise, comprehensive data for better decision-making in processing and refining operations.</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="z-1  py-5 px-5">
                        <div class="z-1 secondary-headline pt-2" style="color: #21272a; text-align: left">Fully
                            Automatic
                            Measurement
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="z-1  py-2 px-5">
                        <div class="hero-label">
                            <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            Feature explanation: reduce the manual intervention of specialised personnel Benefit explanation:
                        </span>
                            </p>
                            <ul class="span2" style="padding-left: 20px;">
                                <li style="color: #21272a; z-index: 1; text-align: left">Daily laboratory tasks reduced
                                    (90%
                                    of reduction on components analysis)
                                </li>
                                <li style="color: #21272a; z-index: 1; text-align: left">ASTM is standard has 2%
                                    accuracy,
                                    but exposing analysis to humans is error-prone
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="z-1  py-2 px-5">
                        <div class="hero-label">
                            <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            The process:
                        </span>
                            </p>
                            <ol class="span2" style="padding-left: 30px;">
                                <li style="color: #21272a; z-index: 1; text-align: left"> An operator compose the sample
                                    by
                                    mixing the crude oil with a reference chemical.
                                </li>
                                <li style="color: #21272a; z-index: 1; text-align: left">The acquisition is started via
                                    the
                                    GUI.
                                </li>
                                <li style="color: #21272a; z-index: 1; text-align: left">The Acquisition is elaborated
                                    via
                                    AI Algorithms.
                                </li>
                                <li style="color: #21272a; z-index: 1; text-align: left">The crude oil Assay is
                                    generated.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  justify-content-center align-content-center z-1">
                <img class="img-fluid forma-5-1" style="object-fit: cover " alt="forma" src="{{ site.baseurl }}/img/forma1.png"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6  justify-content-center align-content-center z-1 order-md-1 order-2">
                <img class="img-fluid forma-5-1" style="object-fit: cover " alt="forma" src="{{ site.baseurl }}/img/forma3.png"/>
            </div>
            <div class="col-md-6 order-md-2 order-1">
                <div class="row">
                    <div class="z-1  py-5 px-5">
                        <div class="z-1 secondary-headline pt-2" style="color: #21272a; text-align: left">Express
                            Quality
                            Analysis
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="z-1  py-2 px-5">
                        <div class="hero-label">
                            <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            Feature:
                        </span>

                                <span class="span2" style="color: #21272a; z-index: 1">Perform crude oil analysis/ get full report in minutes
                        </span>
                            </p>
                            <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            Benefit:
                        </span>

                                <span class="span2" style="color: #21272a; z-index: 1">Streamline crude oil management by compressing idle times and removing bottlenecks
                        </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="z-1  py-2 px-5">
                        <div class="hero-label">
                            <p style="text-align: left;">
                        <span class="span" style="color: #21272a; z-index: 1">
                            Explanation:<br/>
                        </span>
                                <span class="span" style="color: #21272a; z-index: 1">
                            2 months <img style="width: 55px;height: 33px;" src="{{ site.baseurl }}/img/Union.svg" alt="Union"/> 15 minutes<br/>
                        </span>
                            </p>
                            <ol class="span2" style="padding-left: 30px;">
                                <li style="color: #21272a; z-index: 1; text-align: left"> An operator compose the sample
                                    by
                                    mixing the crude oil with a reference chemical.
                                </li>
                                <li style="color: #21272a; z-index: 1; text-align: left">The acquisition is started via
                                    the
                                    GUI.
                                </li>
                                <li style="color: #21272a; z-index: 1; text-align: left">The Acquisition is elaborated
                                    via
                                    AI Algorithms.
                                </li>
                                <li style="color: #21272a; z-index: 1; text-align: left">The crude oil Assay is
                                    generated.
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--Hero Section-->