<section
        class="container-fluid justify-content-center text-center text-white py-5 px-5 h-100 w-100"
        style=" ">
    <div class="row d-flex flex-column py-5 justify-content-center align-items-center text-center">
        <p class="fw-bold m-0 h-100 text-uppercase" style="font-size: 20px; color:#001d6c">{{page.product_section_one_main_title}}</p>
        <h2 class="fw-bold secondary-headline text-dark" style="font-size: 42px;">{{page.product_section_one_sub_title}}</h2>

        <p class="col-12  text-dark p-5 text-center" style="font-size: 16px;">
            {{page.product_section_one_message}}
            <br/>
        </p>
    </div>
</section>