<!-- Supported By Section -->
<div
        class="container-fluid position-relative w-100 justify-content-around align-items-center text-center bg-white">

    <div class="container custom-container">
        <div class="row px-2 py-4 w-100">
            <div class="col-md-4 p-3 p-lg-0">
                <div class="fw-bold" style="font-size: 20px; letter-spacing: 1px; color: #FE900F;"><a
                        href="{{ site.baseurl }}/voucher"> ROMBO.AI</a></div>
                <div class="text-dark fw-bold" style="font-size: 42px; letter-spacing: 0;"><a
                        href="{{ site.baseurl }}/voucher">Supported by</a></div>
            </div>
            <div class="z-1 col-md-8 p-3 p-lg-0 text-center">
                <div class="row justify-content-center align-items-center">
                    <div class="col-6 col-sm-6 col-md-2 mb-3 mb-md-0">
                        <a
                        href="{{ site.baseurl }}/voucher"><img src="{{ site.baseurl }}/img/coesione.png" alt="Coesione" class="img-fluid" loading="lazy" decoding="async"
                             style="max-width: 100%; height: auto; object-fit: contain;"></a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-2 mb-3 mb-md-0">
                        <a
                        href="{{ site.baseurl }}/voucher"><img src="{{ site.baseurl }}/img/ue.png" alt="UE" class="img-fluid" loading="lazy" decoding="async"
                             style="max-width: 100%; height: auto; object-fit: contain;"></a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-2 mb-3 mb-md-0">
                        <a
                        href="{{ site.baseurl }}/voucher"><img src="{{ site.baseurl }}/img/repubblica.png" alt="Repubblica" class="img-fluid" loading="lazy" decoding="async"
                             style="max-width: 100%; height: auto; object-fit: contain;"></a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-2 mb-3 mb-md-0">
                        <a
                        href="{{ site.baseurl }}/voucher"><img src="{{ site.baseurl }}/img/regione.png" alt="Regione" class="img-fluid" loading="lazy" decoding="async"
                             style="max-width: 100%; height: auto; object-fit: contain;"></a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-2 mb-3 mb-md-0">
                        <a
                        href="{{ site.baseurl }}/voucher"><img src="{{ site.baseurl }}/img/Logo SR quadrato.png" alt="Logo SR" class="img-fluid" loading="lazy" decoding="async"
                             style="max-width: 100%; height: auto; object-fit: contain;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-4 w-100"></div>
</div>
<!-- Supported By Section -->