<div class="container-fluid hero-article-section px-0" style="text-align: left">
    <div class="container custom-container py-5">
        <h1 class="pt-5">Fondo Coesione Italia</h1>
        <p class="span2 text-dark">Progetto finanziato dal bando Voucher Startup&nbsp;</p>
        <p class="span2 text-dark"><a href="http://www.sardegnaprogrammazione.it/" target="_blank"
                                      rel="noreferrer noopener">www.sardegnaprogrammazione.it</a>
        </p>
        <p class="span2 text-dark"><a href="http://www.sardegnaricerche.it/" target="_blank"
                                      rel="noreferrer noopener">www.sardegnaricerche.it</a>
        </p>
        <p class="span2 text-dark">Rame è un’esperienza di formazione non convenzionale: una palestra finanziaria
            che
            accompagna le
            utenti nella pianificazione dei loro obiettivi, nella costruzione di un’abitudine di risparmio,
            nelle scelte di accendere un prestito, investire una parte dei risparmi, stipulare
            un’assicurazione o una pensione integrativa, nella ridefinizione periodica degli obiettivi di
            vita.&nbsp; L’utente è supportato in questo viaggio verso il benessere finanziario da una app
            dove può monitorare la sua situazione e i suoi progressi ma anche dialogare con un financial
            personal trainer.&nbsp;</p>
        <p class="span2 text-dark"><a href="https://www.rameplatform.com/" target="_blank"
                                      rel="noreferrer noopener">www.rameplatform.com</a>
        </p>
        <p class="span2 text-dark">Il progetto è strutturato su un piano di lavoro composto dalle seguenti fasi:</p>
        <p class="span2 text-dark">Fase 0 –&nbsp;Coordinamento generale e monitoraggio</p>
        <p class="span2 text-dark">Fase 1 –&nbsp;Studio Design customer Journey e progettazione UX/UI</p>
        <p class="span2 text-dark">Fase 2 –&nbsp;Sviluppo Back office e backend della piattaforma</p>
        <p class="span2 text-dark">Fase 3 –&nbsp;Sviluppo Applicazioni&nbsp; native</p>
        <p class="span2 text-dark">Fase 4 –&nbsp;Realizzazione Educational Tour</p>
        <p class="span2 text-dark">Fase 5 –&nbsp;Messa a punto e release pubblica</p>
        <p class="span2 text-dark">TITOLO PROGETTO: RAME</p>
        <p class="span2 text-dark">CUP:&nbsp;G28C24000030006</p>
        <p class="span2 text-dark">IMPORTO TOTALE DEL PROGETTO: 100.000,00&nbsp;€</p>
        <p class="span2 text-dark">IMPORTO FINANZIATO:&nbsp;77.978,16&nbsp;€</p>
        <p class="span2 text-dark">FONTE:&nbsp;Fondi Regione Autonoma della Sardegna</p>
        <p class="span2 text-dark">DATE:&nbsp;Data di avvio 1/03/2024 – Data di conclusione &nbsp;28/02/2025</p>
        <p class="span2 text-dark">CONTATTO:&nbsp;Per ulteriori informazioni&nbsp;<a
                href="mailto:membership@rameplatform.com"
                target="_blank" rel="noreferrer noopener">membership@rameplatform.com</a>
        </p>

    </div>


</div>