<!--Technology Section-->
<section class="container-fluid border-start border-end" style="background: #303767;">

    <div class="row">
        <div class="col-12 px-0">
            <img class="w-100 m-0 p-0 technology-divider-container" style="bottom:-10px; object-fit: cover"
                 src="{{ site.baseurl }}/img/Separator_Technology.svg" alt="Vector"/>
        </div>`
    </div>
    <div class="row">
        <div class="col-12 py-4">
            <div class="text-wrapper5">INCIPIT</div>
            <div class="secondary-headline">Revolutionary Technology</div>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-12  technology-body">
            <div class="col-12 position-absolute text-center" style="top:0; left: 0; right: 0;bottom: 0">
                <img class="img-fluid h-100 w-100" src="{{ site.baseurl }}/img/livello-1-4.svg" alt="Background Level">
                <img class="img-fluid mx-0 d-none d-md-block position-absolute" style="left: 47%;bottom: 4%;"
                     src="{{ site.baseurl }}/img/livello-1-8.svg"
                     alt="Foreground Level">
            </div>
            <div class="row d-flex flex-wrap flex-md-nowrap text-left  justify-content-center"
                 style="gap:30px;">
                <div class="z-1 col-md-6">
                    <div class="paragraf">
                        <p class="px-5 at-the-core-of-our">
                            <span class="text-wrapper3">Data-Driven Decision Making:<br></span>
                            <span class="text-wrapper4">
                            Empowers operators with precise, comprehensive data for better decision-making in processing and
                            refining operations. (Patent pending)
                        </span>
                        </p>
                    </div>
                    <img class="img-fluid mx-0" src="{{ site.baseurl }}/img/analyzer-1.png"
                         alt="Foreground Level">
                </div>
                <div class="z-1 col-md-6">
                    <div class="paragraf">
                        <p class="px-5 at-the-core-of-our">
                            <span class="text-wrapper19">At the core of our solutions</span>
                            <span class="text-wrapper20">
                                            lies an amalgamation of cutting-edge Low Field NMR (Nuclear Magnetic Resonance) and Artificial
                                            Intelligence (AI). This synergy brings a new dimension to product analysis, redefining precision,
                                            speed, and depth of insights.&nbsp;<br><br>
                                        </span>
                            <span class="text-wrapper19">Low Field NMR:<br></span>
                            <span class="text-wrapper20">
                                            Utilising the principles of nuclear-magnetic resonance at lower magnetic field strengths, our
                                            technology offers a non-invasive, highly sensitive approach to understand the molecular composition and
                                            properties of materials.&nbsp;<br><br>
                                        </span>
                            <span class="text-wrapper19">Artificial Intelligence:<br></span>
                            <span class="text-wrapper20">
                                            Our proprietary AI algorithms are engineered to interpret and extrapolate vast amounts of data obtained
                                        </span>
                            <span class="text-wrapper21">through NMR</span>
                            <span class="text-wrapper20">
                                            , enabling quick, accurate, and comprehensive analysis. The AI's learning capabilities
                                            continuously enhance the accuracy and depth of our insights.&nbsp;
                                        </span>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--Technology Section-->