<div class="container-fluid hero-article-section px-0" style="text-align: left">
    <div class="container custom-container py-5">
        <h1 class="pt-5">Fondo Coesione Italia</h1>
        <p class="span2 text-dark">Progetto finanziato dal bando Voucher Startup&nbsp;</p>
        <p class="span2 text-dark"><a href="http://www.sardegnaprogrammazione.it/" target="_blank"
                                      rel="noreferrer noopener">www.sardegnaprogrammazione.it</a>
        </p>
        <p class="span2 text-dark"><a href="http://www.sardegnaricerche.it/" target="_blank"
                                      rel="noreferrer noopener">www.sardegnaricerche.it</a>
        </p>
        <p class="span2 text-dark">The Rombo AI NMR Analyzer is an advanced solution for crude oil analysis that integrates benchtop Low Field Nuclear Magnetic Resonance (NMR) technology with AI models. Designed for the oil and gas industry, it provides detailed, real-time insights into the chemical composition of crude oil and refined products. This non-destructive technique ensures precise, rapid reporting in less than 15 minutes, aiding process optimization and cost reduction. With machine learning models, it allows operators to monitor quality, predict outcomes, and improve operational efficiency​​.</p>

        <p class="span2 text-dark">TITOLO PROGETTO: ROMBO</p>
        <p class="span2 text-dark">CUP:&nbsp;G28C23001850002</p>
        <p class="span2 text-dark">IMPORTO TOTALE DEL PROGETTO: 100.000,00&nbsp;€</p>
        <p class="span2 text-dark">IMPORTO FINANZIATO:&nbsp;75.000&nbsp;€</p>
        <p class="span2 text-dark">FONTE:&nbsp;Fondi Regione Autonoma della Sardegna</p>
        <p class="span2 text-dark">DATE:&nbsp;Data di avvio 3/01/2024 – Data di conclusione &nbsp;2/01/2025</p>

    </div>


</div>