.contact {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.videoContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: #202648;
    height: 500px;
    margin: 25px;
    justify-content: center;
    max-width: 100%;
}

.logo {
    width: 100%;
    height: 227px;
    align-self: center;
}

.groupIcon {
    width: 100%;
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    height: 116px;
    opacity: 0.92;
}

.contactContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 100%;
}

.contactMainContainer {
    height: 1258px;;
    width: 100%;
}


.caption {
    align-self: stretch;
    position: relative;
    letter-spacing: 1px;
    line-height: 100%;
    text-transform: uppercase;
}

.mainHeadline {
    width: 1280px;
    position: relative;
    font-size: 54px;
    line-height: 110%;
    display: none;
    color: #21272a;
}

.secondaryHeadline {
    align-self: stretch;
    position: relative;
    font-size: 42px;
    letter-spacing: -0.05em;
    line-height: 120%;
}

.top {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.paragraph {
    width: 1280px;
    position: relative;
    font-size: 18px;
    line-height: 140%;
    color: #21272a;
    display: none;
}

.sectionText {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 48px;

    text-align: center;
    font-size: 20px;
    color: #fff;
    font-family: "Roboto", Helvetica;
}

.vision {
    font-weight: 800;
    font-family: "Roboto", Helvetica;
}

.utilizingThePrinciples {
    font-weight: 500;
}

.visionUtilizingThePrincipl {
    margin: 0;
}

.visionUtilizingTheContainer {
    width: 424px;
    position: relative;
    line-height: 150%;
    display: inline-block;
    flex-shrink: 0;
}

.mission {
    font-weight: 800;
    font-family: "Roboto", Helvetica;
}

.missionIesAnamalgamationContainer {
    align-self: stretch;
    width: 428px;
    position: relative;
    line-height: 150%;
    display: inline-block;
    flex-shrink: 0;
}

.visionUtilizingThePrinciplParent {
    width: 100%;
    position: relative;
    height: 207px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    font-size: 18px;
    color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    font-family: "Roboto", Helvetica;
}


.atRomboAi {
    margin-block-start: 0;
    margin-block-end: 5px;
}

.whetherYouHave {
    margin: 0;
}

.atRomboAiContainer {
    width: 374px;
    position: relative;
    font-size: 18px;
    line-height: 140%;
    font-family: "Roboto", Helvetica;
    color: #fff;
    text-align: left;
    display: inline-block;
    height: 315px;
    font-weight: normal;
}

.contactContent, .contactContent * {
    box-sizing: border-box;
}

.contactContent {
    color: #ffffff;
    text-align: left;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

.contactContentMessage {
    padding-left: 20px;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 2.7rem;
    align-self: center;
    letter-spacing: 0;
    line-height: 1.1;
    position: relative;
    top: 40px;
}


.backgroundImage {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 74%;
}


.contactMapSection {
    height: 598px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #2F3666;
}

.mapView {
    flex: 2;
}

.contactInfo {
    flex: 1;
    padding-left: 20px;
}

/*Contact Info*/
.ourLocation {
    position: relative;
    line-height: 140%;
}

.ourLocationWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #c1c7cd;
}

.contactInformation {
    position: relative;
    line-height: 110%;
    font-weight: 700;
}

.contactInformationWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    font-size: 40px;
    color: #ffffff;
}

.separator9 {
    position: relative;
    width: 100%;
    top: 3px;
    left: 0;
    background: #2F3666;
}

.headquarters {
    position: relative;
    text-decoration: underline;
    line-height: 140%;
}

.headquartersWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 26px 10px 10px;
    color: #ffffff;
    font-weight: 700;
}

.romboaiSrl {
    margin-block-start: 0;
    margin-block-end: 5px;
}

.cagliari {
    margin: 0;
}

.romboaiSrlCagliariSardiniWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #ffffff;
}

.div {
    position: relative;
    line-height: 140%;
    font-weight: 600;
}

.wrapper {
    width: 222px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
}

.frameParent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 18px;
    color: #ffffff;
    font-family: "Roboto", Helvetica;
}


/*-------------*/
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1380px;
    mix-blend-mode: screen;
    z-index: 1;
    background: linear-gradient(198deg, #3a4278 30.85%, #000024 93.79%);
}

.contact .text {
    position: relative;
    align-self: stretch;
    text-shadow: 0px 4px 4.5px #00000073;
    font-weight: 700;
    color: #ffffff;
    font-size: 3.5rem;
    letter-spacing: 0;
    line-height: 1.1;
}

.contact h1 {
    font-weight: 700;
    color: #ffffff;
    font-size: 3.5rem;
    letter-spacing: 0;
    line-height: 1.1;
}

.contactVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1380px;
    object-fit: cover;
    z-index: 1;
    transform: rotate(0deg) scale(-1, 1);
}

.separator {
    position: absolute;
    bottom: -15px;
    width: 100%;
    z-index: 2;
}
.separator1 {
    position: relative;
    bottom: -4px;
    width: 100%;
    z-index: 2;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2; /* Ensure header is above other elements */
}

.topSeparator {
    align-self: flex-end
}

/* Mobile styles */
@media (max-width: 768px) {
    .contactMainContainer {
        height: 1200px;
        width: 100%;
    }
    .mask {
        height: 43%;
    }
    .contactVideo {
        height: 1200px;
    }
    .logo {
        width: 100%;
        height: 80px;
        align-self: center;
    }
    .groupIcon{
        height: 100px;
    }
    .videoContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        background-color: #202648;
        height: 300px;
        margin: 25px;
        justify-content: center;
        max-width: 100%;
    }
    .contactMapSection {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        flex-direction: column-reverse;
    }
    .visionUtilizingThePrinciplParent
    {
        width: 100%;
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
        font-size: 18px;
        color: #fff;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 41px;
        font-family: "Roboto", Helvetica;

    }
    .visionUtilizingTheContainer{
        width: 100%;
        position: relative;
        line-height: 150%;
        display: inline-block;
        flex-shrink: 0;
        text-wrap: wrap;
    }
    .missionIesAnamalgamationContainer{
        align-self: stretch;
        width: 100%;
        position: relative;
        line-height: 150%;
        display: inline-block;
        flex-shrink: 0;
        text-wrap: wrap;
    }
    .contactContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr 2fr;
        width: 100%;
        height: 100%;
    }
    .contactContentMessage{
        font-size: 2.6rem;
        text-align: center;
    }

    .separator {
        position: absolute;
        bottom: -2px;
        width: 100%;
        z-index: 2;
    }

}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
    .logo {
        width: 100%;
        height: 127px;
        align-self: center;
    }
    .videoContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 14px;
        background-color: #202648;
        height: 500px;
        margin: 25px;
        justify-content: center;
        max-width: 100%;
    }
    .contactMapSection {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        flex-direction: column-reverse;
    }
    .visionUtilizingThePrinciplParent
    {
        width: 100%;
        position: relative;
        height: 207px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        text-align: left;
        font-size: 18px;
        color: #fff;
        padding-left: 100px;
        padding-right: 100px;
        font-family: "Roboto", Helvetica;

    }
    .visionUtilizingTheContainer{
        width: 100%;
        position: relative;
        line-height: 150%;
        display: inline-block;
        flex-shrink: 0;
        text-wrap: wrap;
    }
    .missionIesAnamalgamationContainer{
        align-self: stretch;
        width: 100%;
        position: relative;
        line-height: 150%;
        display: inline-block;
        flex-shrink: 0;
        text-wrap: wrap;
    }
    .contactContentMessage{
        font-size:3.5rem;
    }


}

/* Desktop styles */
@media (min-width: 1025px) {


}