.articles {
    /*padding: 2rem 0;*/
    text-align: center;
    height: 647px;
    background: #FFFFFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.overlap11 {
    position: absolute;
    left: 0;
}

.separator{
    position: relative;
    top:20px;
    height: 93px;
}
.group13 {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 392px;
    left: 0;
    background-color: #f7f7f7;
}
.divider3 {
    position: relative;
    height: 1px;
    padding-left: 50px;
    padding-right: 50px;
    object-fit: cover;
}
.item6 {
    height: 503px;
    left: 80px;
    position: absolute;
    width: 405px;
    top: 100px;
}

.item7 {
    height: 477px;
    left: 517px;
    position: absolute;
    width: 405px;
    top: 100px;
}
.item8 {
    height: 503px;
    left: 954px;
    position: absolute;
    width: 405px;
    top: 100px;
}
.textWrapper22 {
    position: absolute;
    width: 405px;
    top: 88px;
    left: 0;
    opacity: 0.7;
    font-family: "Roboto", Helvetica;
    font-weight: 400;
    color: #232536;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
}

.textWrapper23 {
    position: absolute;
    width: 405px;
    top: 34px;
    left: 0;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    color: #232536;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 40px;
    white-space: nowrap;
}

.textWrapper24 {
    width: 91px;
    color: #f38f1c;
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--label-01-font-family);
    font-weight: var(--label-01-font-weight);
    font-size: var(--label-01-font-size);
    letter-spacing: var(--label-01-letter-spacing);
    line-height: var(--label-01-line-height);
    white-space: nowrap;
    font-style: var(--label-01-font-style);
}
.textWrapper25 {
    position: absolute;
    width: 78px;
    top: 0;
    left: 0;
    font-family: var(--label-01-font-family);
    font-weight: var(--label-01-font-weight);
    color: #fe900f;
    font-size: var(--label-01-font-size);
    letter-spacing: var(--label-01-letter-spacing);
    line-height: var(--label-01-line-height);
    white-space: nowrap;
    font-style: var(--label-01-font-style);
}
.textWrapper27 {
    position: relative;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    padding-left: 20px;
    color: #232536;
    font-size: 42px;
    text-align: left;
    letter-spacing: -2px;
    line-height: 48px;
    white-space: nowrap;
}
.post4 {
    height: 168px;
    position: absolute;
    width: 411px;
    top: 335px;
    left: 0;
}
.post5 {
    height: 142px;
    position: absolute;
    width: 411px;
    top: 335px;
    left: 0;
}

.pexelsPhoto{
    position: absolute;
    width: 350px;
    height: 304px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.manipolo {
    position: relative;
    height: 41px;
    width: 221px;
    left: 20px;
    padding-left: 50px;
    padding-right: 50px;
    top: -32px;
    object-fit: cover;
}

.separator11 {
    height: 93px;
    top: 345px;
    position: absolute;
    width: 1440px;
    left: 0;
}
.heading {
    font-family: var(--heading-2-font-family);
    font-weight: var(--heading-2-font-weight);
    font-size: var(--heading-2-font-size);
}

.articleList {
    display: flex;
    flex-direction: column;
}


.subdivideLine,
.subdivideLine * {
    box-sizing: border-box;
}
.subdivideLine {
    height: 86.15px;
    position: relative;
    overflow: visible;
}

@media (max-width: 768px) {
    .textWrapper27 {
        position: relative;
        /* width: 300px; */
        /* top: 20px; */
        /* bottom: 20px; */
        /* left: 566px; */
        font-family: "Roboto", Helvetica;
        font-weight: 700;
        color: #232536;
        font-size: 35px;
        text-align: center;
        letter-spacing: -2px;
        line-height: 48px;
        white-space: nowrap;
    }
    .heading {
        font-size: 24px;
    }
    .manipolo {
        position: relative;
        height: 41px;
        width: 221px;
        left: 20px;
        padding-left: 50px;
        padding-right: 50px;
        top: -35px;
        object-fit: cover;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .heading {
        font-size: 32px;
    }
}

@media (min-width: 1025px) {
    .heading {
        font-size: 42px;
    }

}