/* Clients.css */
.clients {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 442px;
    width: 100%;
    top: 0;
    left: 0;
}


.containerClient{
    position: relative;
    /*padding: 20px 0 50px 0;*/
    margin: 0;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: 1fr;

}

.separator{
    position: relative;
    top:20px;
    height: 93px;
    background: #F7F7F7;
}
.separator3 {
    height: 93px;
    top: 801px;
    position: relative;
    width: 100%;
}
.clientVideo {
    position: absolute;
    top: 0;
    height: 407px;
    object-fit: none;
    z-index: -1;
    /*transform: rotate(0deg) scale(-1, 1);*/
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 407px;
    mix-blend-mode: screen;
    /*z-index: 1;*/
    background: #FEF0E4;
}
.clients ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.clients ul li {
    margin: 0 1rem;
}

.overlap11 {
    position: relative;
}

.sectionText10 {
    width: 100%;
    align-items: center;
    gap: 9px;
    position: absolute;
    top: 87px;
    display: flex;
    flex-direction: column;
}

.top3 {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.textWrapper5 {
    position: relative;
    align-self: stretch;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    color: #fe900f;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
}

.textWrapper6 {
    position: relative;
    align-self: stretch;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    color: var(--coolgray-90);
    font-size: 42px;
    text-align: center;
    letter-spacing: 0;
    line-height: 46.2px;
}

.group11 {
    position: absolute;
    width: 100%;
    height: 401px;
    top: 0;
    left: 0;
    opacity: 0.13;
}

.maskGroup3 {
    height: 401px;
}

.group12 {
    width: 100%;
    height: 401px;
    background-color: #000000;
}

.rectangle10 {
    height: 401px;
    background-color: #f38f1c;
    mix-blend-mode: lighten;
}

.group13 {
    position: absolute;
    top: 821px;
    left: 80px;
}

.divider3 {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.item6,
.item7,
.item8 {
    position: relative;
    width: 405px;
    margin-right: -223.8px;
}

.item6 {
    height: 503px;
    left: 80px;
    top: 629px;
}

.item7 {
    height: 477px;
    left: 517px;
    top: 629px;
}

.item8 {
    height: 503px;
    left: 954px;
    top: 629px;
}

.post4,
.post5 {
    position: absolute;
    width: 411px;
    top: 335px;
    left: 0;
}

.textWrapper22 {
    position: absolute;
    width: 405px;
    top: 88px;
    left: 0;
    opacity: 0.7;
    font-family: "Roboto", Helvetica;
    font-weight: 400;
    color: #232536;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
}

.textWrapper23 {
    position: absolute;
    width: 405px;
    top: 34px;
    left: 0;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    color: #232536;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 40px;
    white-space: nowrap;
}

.textWrapper24,
.textWrapper25,
.textWrapper26 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: var(--label-01-font-family);
    font-weight: var(--label-01-font-weight);
    font-size: var(--label-01-font-size);
    letter-spacing: var(--label-01-letter-spacing);
    line-height: var(--label-01-line-height);
    white-space: nowrap;
}

.textWrapper24 {
    width: 91px;
    color: #f38f1c;
}

.textWrapper25 {
    width: 78px;
    color: #fe900f;
}

.textWrapper26 {
    width: 87px;
    color: #fe900f;
}

.https-www-pexels-com-7 {
    position: absolute;
    width: 405px;
    height: 304px;
    top: 0;
    left: 0;
    object-fit: cover;
}

.text-wrapper-27 {
    position: absolute;
    width: 300px;
    top: 521px;
    left: 566px;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    color: #232536;
    font-size: 42px;
    text-align: center;
    letter-spacing: -2px;
    line-height: 48px;
    white-space: nowrap;
}

.separator-10,
.separator-11 {
    position: absolute;
    height: 93px;
    width: 1440px;
    left: 0;
}

.separator-10 {
    top: 1347px;
}

.separator-11 {
    top: 345px;
}

.manipolo {
    position: absolute;
    width: 123px;
    height: 41px;
    top: 1193px;
    left: 156px;
}

.group14 {
    position: relative;
    width: 100%;
    height: 110px;
    top: 40px;
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.overlap12 {
    position: absolute;
    width: 285px;
    height: 85px;
    top: 12px;
    left: 84px;
}





.image10 {
    width: 154px;
    height: 85px;
    top: 0;
    left: 130px;
}

.image11 {
    width: 148px;
    height: 81px;
    top: 3px;
    left: 0;
    mix-blend-mode: darken;
}

.image12 {
    width: 287px;
    height: 105px;
    top: 3px;
    left: 389px;
}

.image13 {
    width: 80px;
    height: 83px;
    top: 13px;
    left: 0;
}

.image14 {
    width: 279px;
    height: 110px;
    top: 0;
    left: 688px;
    mix-blend-mode: multiply;
}

/* Mobile styles */
@media (max-width: 768px) {
    /* Clients.css */
    .clients {
        position: relative;
        text-align: center;
        overflow: hidden;
        height: 520px;
        top: 0;
        left: 0;
    }

    .clientVideo {
        position: absolute;
        top: 0;
        height: 500px;
        object-fit: none;
        z-index: -1;
        /*transform: rotate(0deg) scale(-1, 1);*/
    }

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        mix-blend-mode: screen;
        /*z-index: 1;*/
        background: #FEF0E4;
    }
    .separator{
        position: relative;
        top:100px;
        height: 93px;
    }

}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
    /*.content4,*/
    /*.content5 {*/
    /*    width: 45%;*/
    /*}*/


}

/* Desktop styles */
@media (min-width: 1025px) {
    /*.content4,*/
    /*.content5 {*/
    /*    width: 492px;*/
    /*}*/


}