.contact {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.contactContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
}

.contactMainContainer {
    height: 1000px;;
    width: 100%;
}


.atRomboAi {
    margin-block-start: 0;
    margin-block-end: 5px;
}

.whetherYouHave {
    margin: 0;
}

.atRomboAiContainer {
    width: 374px;
    position: relative;
    font-size: 18px;
    line-height: 140%;
    font-family: "Roboto", Helvetica;
    color: #fff;
    text-align: left;
    display: inline-block;
    height: 315px;
    font-weight: normal;
}

.contactContent, .contactContent * {
    box-sizing: border-box;
}

.contactContent {
    color: #ffffff;
    text-align: left;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 100%;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}

.contactContentMessage {
    padding-left: 40px;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 3.5rem;
    align-self: center;
    letter-spacing: 0;
    line-height: 1.1;
}


.backgroundImage {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 74%;
}


.contactMapSection {
    height: 598px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.mapView {
    flex: 2;
}

.contactInfo {
    flex: 1;
    padding-left: 20px;
}



.subdivideLine,
.subdivideLine * {
    box-sizing: border-box;
}
.subdivideLine {
    height: 86px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    top: 0;
    z-index: 1;
    overflow: visible;
}

.subdivideLine1,
.subdivideLine1 * {
    box-sizing: border-box;
}
.subdivideLine1 {
    height: 86px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    bottom: -1px;
    z-index: 1;
    overflow: visible;
}

.vector2,
.vector2 * {
    box-sizing: border-box;
}
.vector2 {
    height: 76px;
    position: absolute;
    overflow: visible;
    object-fit: cover;
    width: 100%;
    top: 0;
}

.vector1,
.vector1 * {
    box-sizing: border-box;
}
.vector1 {
    height: 76px;
    position: absolute;
    overflow: visible;
    object-fit: cover;
    width: 100%;
    bottom: -1px;
}

/*Contact Info*/
.ourLocation {
    position: relative;
    line-height: 140%;
}

.ourLocationWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #c1c7cd;
}

.contactInformation {
    position: relative;
    line-height: 110%;
    font-weight: 700;
}

.contactInformationWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    font-size: 40px;
}

.headquarters {
    position: relative;
    text-decoration: underline;
    line-height: 140%;
}

.headquartersWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 26px 10px 10px;
    color: #21272a;
    font-weight: 700;
}

.romboaiSrl {
    margin-block-start: 0;
    margin-block-end: 5px;
}

.cagliari {
    margin: 0;
}

.romboaiSrlCagliariSardiniWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #21272a;
}

.div {
    position: relative;
    line-height: 140%;
    font-weight: 600;
}

.wrapper {
    width: 222px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
}

.frameParent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 18px;
    color: #1f2447;
    font-family: "Roboto", Helvetica;
}


/*-------------*/
.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    mix-blend-mode: screen;
    z-index: 1;
    background: linear-gradient(198deg, #3a4278 30.85%, #000024 93.79%);
}

.contact .text {
    position: relative;
    align-self: stretch;
    text-shadow: 0px 4px 4.5px #00000073;
    font-weight: 700;
    color: #ffffff;
    font-size: 3.5rem;
    letter-spacing: 0;
    line-height: 1.1;
}

.contact h1 {
    font-weight: 700;
    color: #ffffff;
    font-size: 3.5rem;
    letter-spacing: 0;
    line-height: 1.1;
}

.contactVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1000px;
    object-fit: cover;
    z-index: 1;
    transform: rotate(0deg) scale(-1, 1);
}

.separator {
    position: relative;
    height: 109px;
    top: -100px;
    /* margin-bottom: -5px; */
    z-index: 1;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2; /* Ensure header is above other elements */
}

.topSeparator {
    align-self: flex-end
}

.divider{
    padding: 150px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .contactContent{
        z-index: 2;
    }
    .contactMainContainer {
        height: 900px;
        width: 100%;
    }

    .contactContainer {
        display: flex;
        /*grid-template-rows: repeat(2,1fr);*/
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    .form{
        width: 80%;
        align-self: center;

    }
    .contactContentMessage {
        position: relative;
        font-size: 2.7rem;
        top:100px;
        padding: 20px;
    }

    .contactVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 900px;
        object-fit: cover;
        z-index: 1;
        transform: rotate(0deg) scale(-1, 1);
    }
    .mask {
        height: 900px;
    }
    .contactMapSection{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        flex-direction: column-reverse;
    }
    .atRomboAiContainer{
        color: #fff;
        display: inline-block;
        font-family: Roboto, Helvetica;
        font-size: 17px;
        font-weight: 400;
        /*height: 260px;*/
        line-height: 120%;
        position: relative;
        text-align: left;
        width: 298px;
    }
    .separator {
        height: 60px;
        top: -55px;
        /* margin-bottom: -5px; */
        z-index:1;
    }
    .atRomboAiContainer{
        width: 100%;
    }
    .contactMapSection{
        height: 100%;
        position: relative;
        width: 100%;
        /*top: 135px;*/
        display: flex;
        padding: 0;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .backgroundImage{
        top:16%
    }
    .contactInfo{
        padding-top: 40px;
    }


}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
    .contactMainContainer {
        height: 1000px;
        width: 100%;
    }

    .divider{
        padding: 10px;
    }

    .form{
        width: 80%;
        align-self: center;

    }
    .contactMainContainer {
        height: 1300px;
        width: 100%;
    }

    .contactContainer {
        display: flex;
        /*grid-template-rows: repeat(2,1fr);*/
        flex-direction: column;
        width: 100%;
    }

    .contactContentMessage {
        position: relative;
        font-size: 3.5rem;
        padding-left: 0px;
        left: -160px;
        /* padding-bottom: 150px;*/

    }

    .contactVideo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1300px;
        object-fit: cover;
        z-index: 1;
        transform: rotate(0deg) scale(-1, 1);
    }
    .mask {
        height: 1300px;
    }
    .contactMapSection{
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0;
        flex-direction: column-reverse;
    }
    .backgroundImage{
        top:68%
    }

}

/* Desktop styles */
@media (min-width: 1025px) {
    .contactContent {
        /*padding: 4rem 3rem;*/
    }

    .contactContentMessage {
        font-size: 3.5rem;
        padding-left: 20%;
        padding-bottom: 90px;

    }

    .separator {
        height: 109px;
        top: -100px;
        /* margin-bottom: -5px; */
        z-index: 1;
    }
}