.desktopContactChild {
    position: absolute;
    top: 882px;
    left: 0px;
    width: 1440px;
    height: 598px;
}
.heroSectionIcon {
    position: absolute;
    top: 0px;
    left: -1px;
    width: 1440px;
    height: 888px;
    object-fit: cover;
}
.vecteezyBlackStringsMeshWa {
    position: absolute;
    top: 0px;
    left: 1620px;
    width: 1621px;
    height: 888px;
    transform:  rotate(180deg);
    transform-origin: 0 0;
    mix-blend-mode: screen;
}
.desktopContactItem {
    position: absolute;
    top: 0px;
    left: -1px;
    background: linear-gradient(217.76deg, #fff, #000);
    width: 1440px;
    height: 888px;
}
.contactUs {
    position: relative;
    line-height: 110%;
    white-space: pre-wrap;
}
.contactUsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.atRomboAi {
    margin-block-start: 0;
    margin-block-end: 5px;
}
.whetherYouHave {
    margin: 0;
}
.atRomboAiContainer {
    width: 374px;
    position: relative;
    line-height: 140%;
    display: inline-block;
    height: 315px;
    flex-shrink: 0;
}
.atRomboAiWereCommittedTWrapper {
    width: 387px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
}
.frameParent {
    height: 253px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.desktopContactInner {
    position: absolute;
    top: 164px;
    left: 151px;
    width: 384px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.secondaryHeadline {
    align-self: stretch;
    position: relative;
    line-height: 110%;
}
.top {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.paragraph {
    align-self: stretch;
    position: relative;
    font-size: 18px;
    line-height: 140%;
}
.sectionText {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
}
.label {
    align-self: stretch;
    position: relative;
    line-height: 140%;
}
.text {
    flex: 1;
    position: relative;
    line-height: 140%;
}
.field {
    align-self: stretch;
    background-color: #f2f4f8;
    border-bottom: 1px solid #c1c7cd;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    font-size: 16px;
    color: #697077;
}
.textField {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.fieldsGroup {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}
.textField2 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.iconJamIconsOutlineL {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.field4 {
    align-self: stretch;
    background-color: #f2f4f8;
    border-bottom: 1px solid #c1c7cd;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 16px;
    gap: 8px;
    font-size: 16px;
    color: #697077;
}
.unionIcon {
    width: 9.9px;
    position: relative;
    height: 7.8px;
    opacity: 0;
}
.unionWrapper {
    width: 16px;
    border: 1px solid #121619;
    box-sizing: border-box;
    height: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.controls {
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.labelName {
    width: 311px;
    position: relative;
    line-height: 140%;
    display: inline-block;
    height: 20px;
    flex-shrink: 0;
}
.controlsWithLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.buttonText {
    position: relative;
    letter-spacing: 0.5px;
    line-height: 100%;
    font-weight: 500;
}
.textContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 16px;
}
.button {
    border-radius: 50px;
    background-color: #f29206;
    border: 2px solid #f29206;
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 12px;
}
.buttonsGroup {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    color: #fff;
}
.form5FieldsCheckboxB {
    width: 554px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 14px;
}
.rightColumn {
    position: absolute;
    top: 112px;
    left: 671px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #c1c7cd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    gap: 48px;
    font-size: 42px;
    color: #21272a;
}
.rectangleDiv {
    position: absolute;
    top: 1063px;
    left: 211.76px;
    width: 74.6px;
    height: 7px;
    mix-blend-mode: multiply;
}
.groupIcon {
    position: absolute;
    height: 100%;
    width: 75.15%;
    top: 0%;
    right: 24.85%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.groupIcon1 {
    position: absolute;
    height: 97.52%;
    width: 17.8%;
    top: 1.11%;
    right: -0.05%;
    bottom: 1.37%;
    left: 82.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group {
    position: absolute;
    height: 40.25%;
    width: 72.02%;
    top: 25.79%;
    right: 0.02%;
    bottom: 33.96%;
    left: 27.97%;
}
.vectorIcon {
    position: absolute;
    height: 7.5%;
    width: 1.84%;
    top: 58.01%;
    right: 14.95%;
    bottom: 34.49%;
    left: 83.21%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon1 {
    position: absolute;
    height: 19%;
    width: 4.63%;
    top: 0.03%;
    right: 85.75%;
    bottom: 80.97%;
    left: 9.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon2 {
    position: absolute;
    height: 19%;
    width: 4.63%;
    top: 80.91%;
    right: 85.75%;
    bottom: 0.09%;
    left: 9.62%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon3 {
    position: absolute;
    height: 39.25%;
    width: 14.28%;
    top: 20.33%;
    right: 85.72%;
    bottom: 40.42%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon4 {
    position: absolute;
    top: 40.46%;
    left: 11.82%;
    width: 0px;
    height: 0px;
}
.vectorIcon5 {
    position: absolute;
    height: 0.5%;
    width: 0.13%;
    top: 63.08%;
    right: 81.53%;
    bottom: 36.42%;
    left: 18.35%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon6 {
    position: absolute;
    height: 0.5%;
    width: 0.13%;
    top: 36.43%;
    right: 84.8%;
    bottom: 63.07%;
    left: 15.07%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon10 {
    position: absolute;
    height: 19%;
    width: 4.63%;
    top: 40.45%;
    right: 76.12%;
    bottom: 40.55%;
    left: 19.25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon11 {
    position: absolute;
    height: 59.25%;
    width: 4.63%;
    top: 20.38%;
    right: 80.93%;
    bottom: 20.37%;
    left: 14.44%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.vectorIcon13 {
    position: absolute;
    top: 49.6%;
    left: 4.64%;
    width: 0px;
    height: 0px;
}
.vectorIcon14 {
    position: absolute;
    height: 19%;
    width: 4.63%;
    top: 60.52%;
    right: 90.56%;
    bottom: 20.48%;
    left: 4.81%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.logo {
    width: 157.6px;
    position: relative;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
}
.aboutUs {
    position: relative;
    line-height: 100%;
    font-weight: 500;
}
.vectorIcon15 {
    width: 13.3px;
    position: relative;
    height: 7.7px;
}
.frameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.frameGroup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
}
.logoParent {
    width: 1360px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.menu {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(19.8px);
    background-color: rgba(9, 12, 35, 0.2);
    width: 1440px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 40px;
    box-sizing: border-box;
    font-size: 16px;
}
.ourLocation {
    position: relative;
    line-height: 140%;
}
.ourLocationWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #c1c7cd;
}
.contactInformation {
    position: relative;
    line-height: 110%;
}
.contactInformationWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    font-size: 40px;
}
.headquarters {
    position: relative;
    text-decoration: underline;
    line-height: 140%;
}
.headquartersWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 26px 10px 10px;
    color: #21272a;
}
.romboaiSrlCagliariSardiniWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: #21272a;
}
.div {
    position: relative;
    line-height: 140%;
    font-weight: 600;
}
.wrapper {
    width: 222px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    font-size: 24px;
}
.frameWrapper1 {
    width: 427px;
    height: 374px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
}
.frameWrapper {
    width: 437px;
    height: 384px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
}
.desktopContactInner1 {
    position: absolute;
    top: 986px;
    left: 845px;
    width: 437px;
    height: 384px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 18px;
    color: #1f2447;
}
.unionIcon1 {
    position: relative;
    width: 337px;
    height: 243.1px;
}
.groupIcon2 {
    position: absolute;
    height: 17.28%;
    width: 35%;
    top: 2.94%;
    right: 40%;
    bottom: 79.78%;
    left: 25%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.mapImageIcon {
    position: absolute;
    height: 123.34%;
    width: 122.01%;
    top: -11.67%;
    right: -11.01%;
    bottom: -11.68%;
    left: -11%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.zoomControlsIcon {
    position: absolute;
    right: 12px;
    bottom: 12px;
    border-radius: 4px;
    width: 40px;
    height: 81px;
    object-fit: cover;
}
.sateliteIcon {
    position: absolute;
    bottom: 12px;
    left: 12px;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    object-fit: cover;
}
.viewLargerMap {
    position: relative;
    line-height: 145%;
}
.button1 {
    position: absolute;
    top: 12px;
    left: 12px;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
}
.pinIcon {
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 10px);
    width: 20.9px;
    height: 30px;
    overflow: hidden;
}
.unionIcon2 {
    position: relative;
    width: 330.1px;
    height: 239.3px;
}
.livello1Icon {
    position: absolute;
    top: 150.83px;
    left: 271.54px;
    width: 214px;
    height: 63px;
    overflow: hidden;
    object-fit: cover;
}
.googleMapsWidget {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 776px;
    height: 386px;
    overflow: hidden;
}
.unionParent {
    position: absolute;
    top: 986px;
    left: 48px;
    width: 776px;
    height: 386px;
    font-size: 12px;
    color: #0369f0;
    font-family: Inter;
}
.romboai041Icon {
    width: 211px;
    position: relative;
    height: 79px;
    object-fit: cover;
}
.romboai2024OpenCampusWrapper {
    width: 306px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 125px 0px 0px;
    box-sizing: border-box;
}
.iconJamIconsOutlineLWrapper {
    width: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 28px;
    box-sizing: border-box;
}
.footer {
    position: absolute;
    bottom: 0px;
    left: 3px;
    width: 1437px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 78px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    color: #202648;
}
.separatorIcon {
    position: absolute;
    top: 815px;
    left: -15px;
    width: 1470px;
    height: 105.5px;
}
.desktopContact {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 1516px;
    overflow: hidden;
    text-align: left;
    font-size: 69px;
    color: #fff;
    font-family: Roboto;
}

