.engage {
    text-align: center;
    height: 527px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3,1fr);
    background-color: #303767;
}

.overlap10 {
    width: 100%;
    height: 527px;
    background-color: #303767;
    position: relative;
    left: 0;
}
.overlapGroup {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 151px;
    justify-content: space-between;
}

.group9 {
    position: absolute;
    width: 187px;
    height: 76px;
    top: 0;
    left: 0;
}
.buttonsGroupWrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0px;
    position: relative;
    top: 0;
    left: 0;
    margin-right: -8px;
}
.buttonsGroupLeft {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 50px;
}

.buttonsGroupRight {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 50px;
}
.button {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    height: 56px;
    align-items: center;
    justify-content: center;
    padding: 16px;
    position: relative;
    flex: 0 0 auto;
    background-color: #fe900f;
    border-radius: 50px;
    border: 2px solid;
}
.textContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px 8px;
    position: relative;
    flex: 0 0 auto;
}
.textWrapper2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--button-l-font-family);
    font-weight: var(--button-l-font-weight);
    color: var(--defaultwhite);
    font-size: var(--button-l-font-size);
    letter-spacing: var(--button-l-letter-spacing);
    line-height: var(--button-l-line-height);
    white-space: nowrap;
    font-style: var(--button-l-font-style);
}
.frame23 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0px;
    position: relative;
    top: 0;
    /*left: 132px;*/
}
.button2 {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    height: 56px;
    align-items: center;
    justify-content: center;
    padding: 16px 0px;
    position: relative;
    flex: 0 0 auto;
    background-color: #fe900f;
    border-radius: 50px;
    border: 2px solid;
}
.group10 {
    position: relative;
    width: 35px;
    height: 41px;
    top: 18px;
    display: flex;
    flex-direction: column;
    margin-left: -103px;
    /* left: 115px;
}
.sectionText9 {
    width: 100%;
    align-items: flex-start;
    gap: 37px;
    position: absolute;
    top: 149px;
    /* left: 80px; */
    display: flex;
    flex-direction: column;
}
.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    width: 100%;
    flex: 0 0 auto;
    align-self: center;
}
.caption {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--other-caption-font-family);
    font-weight: var(--other-caption-font-weight);
    color: #fe900f;
    font-size: var(--other-caption-font-size);
    text-align: center;
    letter-spacing: var(--other-caption-letter-spacing);
    line-height: var(--other-caption-line-height);
    font-style: var(--other-caption-font-style);
}
.div2 {
    position: relative;
    align-self: stretch;
    font-family: var(--heading-2-font-family);
    font-weight: var(--heading-2-font-weight);
    color: #ffffff;
    font-size: var(--heading-2-font-size);
    text-align: center;
    letter-spacing: var(--heading-2-letter-spacing);
    line-height: var(--heading-2-line-height);
    font-style: var(--heading-2-font-style);
}
.paragraph {
    position: relative;
    align-self: center;
    font-family: var(--body-l-font-family);
    font-weight: var(--body-l-font-weight);
    color: #ffffff;
    font-size: var(--body-l-font-size);
    text-align: center;
    padding: 20px;
    letter-spacing: var(--body-l-letter-spacing);
    line-height: var(--body-l-line-height);
    font-style: var(--body-l-font-style);
}
.bottoneContact2 {
    position: absolute;
    width: 187px;
    height: 76px;
    top: 399px;
    left: 626px;
}
.heading {
    font-family: var(--heading-2-font-family);
    font-weight: var(--heading-2-font-weight);
    font-size: var(--heading-2-font-size);
}

.engagementOptions {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .heading {
        font-size: 24px;
    }
    .sectionText9{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        gap: 37px;
        position: absolute;
        top: 89px;
        left: 44px;
    }
    .top{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        padding: 20px;
        position: relative;
        align-self: center;
        width: 100%;
        flex: 0 0 auto;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .heading {
        font-size: 32px;
    }
}

@media (min-width: 1025px) {
    .heading {
        font-size: 42px;
    }
}