.hero {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 640px;
    width: 100%;
    top: 0;
    left: 0;
}

.heroContent, .heroContent * {
    box-sizing: border-box;
}

.heroContent {
    color: #ffffff;
    text-align: left;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    /*justify-content: flex-end;*/
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%; /* Make sure it takes the full height */
    /*padding: 3rem; !* Added padding for spacing *!*/
}

.heroContentMessage1 {
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    color: #ffffff;
    width: 60%;
    font-size: 3rem;
    letter-spacing: 0;
    line-height: 1.1;
}

.heroContentMessage2 {
    position: relative;
    padding-left: 10px;
    padding-right: 40px;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    color: #ffffff;
    width: 40%;
    font-size: 3rem;
    letter-spacing: 0;
    line-height: 1.1;
}
.forma20{
    position: relative;
    top:10px;
    width: 500px;
    height: 463px;

}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 620px;
    mix-blend-mode: screen;
    z-index: -1;
    background: linear-gradient(198deg, #3a4278 30.85%, #000024 93.79%);
}

.hero .text {
    position: relative;
    align-self: stretch;
    text-shadow: 0px 4px 4.5px #00000073;
    font-weight: 700;
    color: #ffffff;
    font-size: 3.5rem;
    letter-spacing: 0;
    line-height: 1.1;
}

.hero h1 {
    font-weight: 700;
    color: #ffffff;
    font-size: 3.5rem;
    letter-spacing: 0;
    line-height: 1.1;
}

.heroVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 620px;
    object-fit: cover;
    z-index: -1;
    transform: rotate(0deg) scale(-1, 1);
}

.separator {
    position: absolute;
    height: 109px;
    margin-bottom: -5px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2; /* Ensure header is above other elements */
}
.topSeparator {
    align-self: flex-end
}


.titolo1,
.titolo1 * {
    box-sizing: border-box;
}
.titolo1 {
    color: #ffffff;
    text-align: left;
    position: relative;
    padding-left: 55px;
}
.titolo1span {
    color: #ffffff;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 42px;
    line-height: 110%;
    font-weight: 700;
}
.titolo1span2 {
    color: #ffffff;
    font-family: "Roboto-Regular", sans-serif;
    font-size: 30px;
    line-height: 110%;
    font-weight: 400;
}

.subdivideLine1,
.subdivideLine1 * {
    box-sizing: border-box;
}
.subdivideLine1 {
    height: 86px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    bottom: 20px;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: visible;
}

.vector2,
.vector2 * {
    box-sizing: border-box;
}
.vector2 {
    height: 76px;
    position: absolute;
    overflow: visible;
    object-fit: cover;
    width: 100%;
    top: 0;
}

.vector1,
.vector1 * {
    box-sizing: border-box;
}
.vector1 {
    height: 76px;
    position: absolute;
    overflow: visible;
    object-fit: cover;
    left: 0;
    right: 0;
    width: 100%;
    bottom: -3px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .heroContent {
        /*padding: 2rem 1rem;*/
    }
    .titolo1{
        color: #ffffff;
        text-align: left;
        position: relative;
        padding: 40px;
    }

    .titolo1span{
        color: #ffffff;
        text-align: left;
        position: relative;
    }

    .heroVideo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 620px;
        object-fit: cover;
        z-index: -1;
        transform: rotate(0deg) scale(-1, 1);
    }

    .heroContentMessage1 {
        width: 100%;
    }
    .heroContentMessage2 {
        display: none;
        width: 0;
    }
    .separator{
        bottom: 0;
        height: 38px;
        left: 0;
        margin-bottom: 10px;
        position: absolute;
        width: 100%;
    }

}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
    .heroContent {
        /*padding: 3rem 2rem;*/
    }
    .heroContentMessage1 {
        width: 100%;
    }
    .heroContentMessage2 {
        display: none;
        width: 0;
    }

    .forma20{
        width: 500px;
        height: 463px;
    }

}

/* Desktop styles */
@media (min-width: 1025px) {
    .heroContent {
        /*padding: 4rem 3rem;*/
    }

}