.hero {
    position: relative;
    text-align: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    background: #ffffff;
}

.containerOne{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    font-size: 18px;
    top: 130px;
    color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    font-family: "Roboto", Helvetica;
}
.containerTwo{
    width: 100%;
    position: relative;
    padding: 20px;
    top: 130px;
    height: 100%;
}

.containerThree{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    font-size: 18px;
    top: 130px;
    color: #fff;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 20px;
    font-family: "Roboto", Helvetica;
}


.hero .text {
    position: relative;
    align-self: stretch;
    text-shadow: 0px 4px 4.5px #00000073;
    font-weight: 700;
    color: #ffffff;
    font-size: 3.5rem;
    letter-spacing: 0;
    line-height: 1.1;
}

.hero h1 {
    font-weight: 700;
    color: #ffffff;
    font-size: 3.5rem;
    letter-spacing: 0;
    line-height: 1.1;
}
.posted,
.posted * {
    box-sizing: border-box;
}
.posted {
    color:  #6d6e76;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    position: relative;
}

.step,
.step * {
    box-sizing: border-box;
}
.step {
    color:  #232536;
    text-align: left;
    font-family:  "Sen-Bold", sans-serif;
    font-size:  48px;
    line-height:  64px;
    letter-spacing:  -2px;
    font-weight: 700;
    position: relative;
}

.posted1,
.posted1 * {
    box-sizing: border-box;
}
.posted1 {
    color:  #232536;
    text-align: left;
    font-family: "Sen-Bold", sans-serif;
    font-size:  36px;
    line-height:  48px;
    letter-spacing: -2px;
    font-weight:  700;
    position: relative;
}

.step1,
.step1 * {
    box-sizing: border-box;
}
.step1 {
    color:  #6d6e76;
    text-align: left;
    font-family:  "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight:  400;
    position: relative;
    padding-bottom: 20px;
}

.imageVideo,
.imageVideo * {
    box-sizing: border-box;
}
.paragraph1{
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 161px;
    color:  #161722;
    text-align: left;
    font-family:  "Sen-Bold", sans-serif;
    font-size: 24px;
    line-height:  32px;
    font-weight:  700;
    opacity: 0.78;
}
.list{
    padding-left: 20px;
    list-style: disc;
}

.imageVideo {
    top: 0;
    left: 0;
    height: 616px;
    width: 100%;
    position: relative;
    /*mix-blend-mode: soft-light;*/
    object-fit: cover;

}

.separator {
    position: relative;
    height: 109px;
    margin-bottom: -5px;
    width: 100%;
    bottom: 0;
    left: 0;
}



.andrewJonson {
    color: #fe900f;
    text-align: left;
    font-family: "Sen-Bold", sans-serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;
    font-weight: 700;
    opacity: 0.87;
    position: absolute;
    padding-left: 100px;
    bottom: 118px;
    width: 100%;
}
.divider{
    width: 100%;
    padding: 150px;
}

.subdivideLine1,
.subdivideLine1 * {
    box-sizing: border-box;
}

.subdivideLine1 {
    height: 86px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    bottom: 6px;
    z-index: 1;
    overflow: visible;
}

.vector1,
.vector1 * {
    box-sizing: border-box;
}

.vector1 {
    height: 76px;
    position: absolute;
    overflow: visible;
    object-fit: cover;
    width: 100%;
    bottom: -5px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .containerOne{
        padding-left: 25px;
        padding-right: 25px;
    }

    .containerThree{
        padding-left: 25px;
        padding-right: 25px;
    }
    .paragraph1{
        margin-bottom: 50px;
    }

}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {

}

/* Desktop styles */
@media (min-width: 1025px) {


}