.intro {
    position: relative;
    text-align: center;
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;
    background: white;
}

.introContainer {
    margin: 0 auto;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
            "l h h h h h h h h h h r "
            "l b b b b b b b b b b r "
            "l b b b b b b b b b b r ";
}

.introHeader {
    grid-area: h;
    align-self: center;
}

.introBody {
    grid-area: b;
}

.introLeft {
    grid-area: l;
    align-self: center;
}

.introRight {
    align-self: center;
    grid-area: r;
}



.introContainerFlexBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.introContainerFlexBoxItem {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.itemTwo {
    flex-grow: 1;
}

.livello {
    width: 100%;
    height: 500px;
}

.overlap13 {
    position: relative;
    width: auto;
    height: 600px;
}

.livello8 {
    position: absolute;
    width: 100%;
    height: 313px;
    top: 162px;
    left: 0;
    mix-blend-mode: exclusion;
}

.paragrafo5 {
    display: grid;
    width: 100%;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    color: white;
}


.frame24 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0px 16px;
    position: relative;
    flex: 1;
}

.modalitIsolamento,
.modalitIsolamento2,
.modalitIsolamento3,
.modalitIsolamento4 {
    position: relative;
    height: 100px;
}

.paragrafo6,
.paragrafo7 {
    position: relative;
    align-self: stretch;
    font-family: "Roboto", Helvetica;
    font-weight: 400;
    color: var(--coolgray-90);
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 25.2px;
}
.textWrapper3 {
    font-weight: 900;
}

.textWrapper14 {
    font-family: "Roboto", Helvetica;
    font-weight: 400;
    color: #21272a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25.2px;
}

.textWrapper21 {
    font-weight: 700;
    color: #fe900f;
}

.textWrapper28 {
    font-weight: 900;
    color: #21272a;
}

.textWrapper29 {
    color: #21272a;
}

.textWrapper30 {
    font-weight: 600;
    color: #fe900f;
    font-size: 20px;
    line-height: 28px;
}

.textWrapper31 {
    font-weight: 600;
    color: #21272a;
    font-size: 20px;
    line-height: 28px;
}

.sectionText11 {
    /*width: 1280px;*/
    align-items: flex-start;
    gap: 48px;
    /*position: absolute;*/
    /*top: 12px;*/
    /*left: 80px;*/
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.textWrapper5 {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    color: #fe900f;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
}

.textWrapper6 {
    position: relative;
    align-self: stretch;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    color: var(--coolgray-90);
    font-size: 42px;
    text-align: center;
    letter-spacing: 0;
    line-height: 46.2px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .intro {
        position: relative;
        text-align: center;
        height: 2000px;
        width: 100%;
        top: 0;
        left: 0;
    }
    .top{
        margin-top: -140px
    }
    .introLeft {
        display: none;
        grid-area: l;
        align-self: center;
    }

    .introRight {
        display: none;
        align-self: center;
        grid-area: r;
    }
    .paragrafo5 {
        margin-top: -116px;
        display: grid;
        width: 100%;
        gap: 16px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        color: white;
    }

    .livello8 {
        display: none;
    }

    .modalitIsolamento {
        margin-top: -60px;
        position: relative;
        height: 100px;
    }
    .modalitIsolamento2 {
        margin-top: -70px;
        position: relative;
        height: 100px;
    }
    .modalitIsolamento3 {
        margin-top: 20px;
        position: relative;
        height: 100px;
    }
    .modalitIsolamento4 {
        margin-top: 50px;
        position: relative;
        height: 100px;
    }

}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
    .intro {
        position: relative;
        text-align: center;
        height: 850px;
        width: 100%;
        top: 0;
        left: 0;
    }
    .introContainer {
        margin: 0 auto;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "h h h h h h h h h h h h"
            "b b b b b b b b b b b b "
            "b b b b b b b b b b b b ";
        color: white;
    }
    .introLeft {
        display: none;
        grid-area: l;
        align-self: center;
    }

    .introRight {
        display: none;
        align-self: center;
        grid-area: r;
    }

    .paragrafo5 {
        display: grid;
        width: 100%;
        gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        color: white;
    }
    .livello8{
        position: absolute;
        width: 100%;
        height: 313px;
        top: 50%;
        left: 0;
        mix-blend-mode: exclusion;
    }
}

/* Desktop styles */
@media (min-width: 1025px) {
    .introContainer {
        margin: 0 auto;
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "l h h h h h h h h h h r "
            "l b b b b b b b b b b r "
            "l b b b b b b b b b b r ";
        color: white;
    }

    .paragrafo5 {
        display: grid;
        width: 100%;
        gap: 16px;
        grid-template-columns: repeat(4, 1fr);
        color: white;
    }
}