.section,
.section * {
    box-sizing: border-box;
}
.section {
    background: #2f3666;
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    row-gap: 0px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.sectionText {
    display: flex;
    flex-direction: column;
    gap: 48px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    row-gap: 0px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.caption {
    color: #fe900f;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size:  20px;
    line-height:  100%;
    letter-spacing:  1px;
    font-weight:  700;
    text-transform: uppercase;
    position: relative;
    align-self: stretch;
}
.secondaryHeadline {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size:  42px;
    line-height: 110%;
    font-weight: 700;
    position: relative;
    align-self: stretch;
}
.paragraph {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size:  18px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    padding-top: 48px;
}

/* Mobile styles */
@media (max-width: 768px) {


}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {

}

/* Desktop styles */
@media (min-width: 1025px) {


}