.section,
.section * {
    box-sizing: border-box;
}

.section {
    padding: 80px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    row-gap: 0px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.sectionText {
    display: flex;
    flex-direction: column;
    gap: 48px;
    row-gap: 0px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    row-gap: 0px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.caption {
    color: #fe900f;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    align-self: stretch;
}

.secondaryHeadline {
    color: #21272a;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: var(--heading-2-font-size, 42px);
    line-height: 110%;
    font-weight: 700;
    position: relative;
}

.paragraph {
    color: #21272a;
    text-align: left;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    width: 50%;
    height: 161px;
}

.paragraph1 {
    color: #21272a;
    text-align: left;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 161px;
}

.list {
    padding-left: 20px;
    list-style: disc;
}

.list1 {
    padding-left: 20px;
    list-style: numeric;
}

.union,
.union * {
    box-sizing: border-box;
}


.union {
    margin: 5px;
    width: 55px;
    height: 33px;
    position: relative;
    overflow: visible;
    top: 17px;
}

.frame88,
.frame88 * {
    box-sizing: border-box;
}

.frame88 {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    padding-top: 20px;
    row-gap: 0px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.frame99 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    row-gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.benchtopNmrHardware {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.frame100 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    row-gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.personalComputer {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.frame101 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    row-gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.swAiModels {
    color: #000000;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.frame102 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    row-gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.specificSamplingGuidance {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.frame103 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    row-gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.aiModelDevelopment {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

.frame104 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    row-gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.endUserTraining {
    color: #000000;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}


.topSection,
.topSection * {
    box-sizing: border-box;
}

.topSection {
    /*padding: 80px;*/
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 100px;
}


.bottomSection,
.bottomSection * {
    box-sizing: border-box;
}

.bottomSection {
    /*padding: 80px;*/
    padding-top: 100px;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.bottomSection1,
.bottomSection1 * {
    box-sizing: border-box;
}

.bottomSection1 {
    /*padding: 80px;*/
    display: flex;
    width: 100%;
    height: 700px;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}


.bottomSection2,
.bottomSection2 * {
    box-sizing: border-box;
}

.bottomSection2 {
    /*padding: 80px;*/
    padding-top: 40px;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.paragraphTitle,
.paragraphTitle * {
    box-sizing: border-box;
}

.paragraphTitle {
    text-wrap: wrap;
    color: var(--coolgray-90, #21272a);
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size: var(--body-l-font-size, 18px);
    line-height: var(--body-l-line-height, 140%);
    font-weight: var(--body-l-font-weight, 400);
    position: relative;
}

.vision {
    font-weight: 800;
    font-family: "Roboto", Helvetica;
}

.secondaryHeadline1 {
    color: #21272A;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: var(--heading-2-font-size, 42px);
    line-height: var(--heading-2-line-height, 110%);
    font-weight: var(--heading-2-font-weight, 700);
    position: relative;
    align-self: stretch;
    padding-bottom: 20px;
}

.forma1,
.forma1 * {
    box-sizing: border-box;
}

.forma1 {
    /*border-radius: 10px;*/
    height: 614px;
    position: relative;
    /*width: 50%;*/
    transform: rotate(176deg) scale(-1, -1);
    object-fit: cover;
}


.forma2,
.forma2 * {
    box-sizing: border-box;
}

.forma2 {
    /*border-radius: 10px;*/
    height: 614px;
    position: relative;
    /*width: 50%;*/
    transform: rotate(176deg) scale(-1, -1);
    object-fit: cover;
}
.forma4,
.forma4 * {
    box-sizing: border-box;
}

.forma4 {
    border-radius: 10px;
    height: 614px;;
    position: relative;
    /*width: 50%;*/
    transform: rotate(176deg) scale(-1, -1);
    object-fit: fill;
}


.forma5,
.forma5 * {
    box-sizing: border-box;
}

.forma5 {
    border-radius: 10px;
    height: 614px;
    position: relative;
    /*width: 50%;*/
    transform: rotate(176deg) scale(-1, -1);
    object-fit: fill;
}

.image7,
.image7 * {
    box-sizing: border-box;
}

.image7 {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    right: 50%;
    bottom: 130px;
    position: absolute;
    z-index: -1;
    object-fit: fill;
}

.image8,
.image8 * {
    box-sizing: border-box;
}

.image8 {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    left: 50%;
    bottom: 0px;
    position: absolute;
    z-index: -1;
    object-fit: fill;
}

.subdivideLine,
.subdivideLine * {
    box-sizing: border-box;
}

.subdivideLine {
    height: 86px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    top: 0;
    z-index: 1;
    overflow: visible;
}

.subdivideLine1,
.subdivideLine1 * {
    box-sizing: border-box;
}

.subdivideLine1 {
    height: 86px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    bottom: 6px;
    z-index: 1;
    overflow: visible;
}

.vector2,
.vector2 * {
    box-sizing: border-box;
}

.vector2 {
    height: 76px;
    position: absolute;
    overflow: visible;
    object-fit: cover;
    width: 100%;
    top: 0;
}

.vector1,
.vector1 * {
    box-sizing: border-box;
}

.vector1 {
    height: 76px;
    position: absolute;
    overflow: visible;
    object-fit: cover;
    width: 100%;
    bottom: -5px;
}

/* Mobile styles */
@media (max-width: 768px) {
    .groupIcon {
        height: 100px;
    }

    .bottomSection {
        padding: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 64px;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }

    .bottomSection1 {
        padding: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        height: 100%;
        gap: 64px;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }

    .bottomSection2 {
        padding: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        height: 100%;
        gap: 64px;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }
    .section {
        padding: 20px;
    }

    .forma1 {
        height: 397px;
        /*width: 100%;*/
    }

    .forma4 {
        position: relative;
        height: 397px;
        top: 9px;
        /*width: 334px;*/
        right: 8px;
    }

    .forma2 {
        position: relative;
        height: 397px;
        top: 63px;
        /*width: 389px;*/
        right: 8px;
    }

    .forma5 {
        position: relative;
        height: 397px;
        top: 30px;
        /*width: 399px;*/
        left: 28px;
    }

    .frame88 {
        flex-direction: column;
        gap: 20px;
    }

    .image7 {
        height: 60%;
        width: 100%;
        object-fit: fill;
        bottom: 500px
    }

    .paragraph {
        width: 100%;
        height: 100%;
        padding-bottom: 40px;
    }
    .paragraph1{
        width: 100%;
        height: 100%;
        padding-bottom: 40px;
    }

    .section {
        gap: 10px;
    }

    .bottomSection {
        gap: 10px;
    }

    .bottomSection1 {
        gap: 10px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    .section {
        padding: 20px;
    }

    .bottomSection {
        padding: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 64px;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }

    .bottomSection1 {
        padding: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 64px;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }

    .frame88 {
        flex-direction: column;
        gap: 20px;
    }


    .forma1 {
        height: 100%;
        width: 100%;
    }

    .forma4 {
        height: 100%;
        width: 100%;
    }

    .image7 {
        height: 60%;
        width: 100%;
        object-fit: fill;
        bottom: 400px
    }


    .paragraph {
        width: 100%;
        height: 100%;
        padding-bottom: 40px;
    }
}

@media (min-width: 1025px) {

}