.separator {
    width: 100%;
    height: auto; /* Ensures the image scales with the width */
}

/* Responsive styles */
@media (max-width: 768px) {
    .separator {
        height: 50px; /* Adjust height for mobile */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .separator {
        height: 75px; /* Adjust height for tablet */
    }
}

@media (min-width: 1025px) {
    .separator {
        height: 109px; /* Adjust height for desktop */
    }
}