.section,
.section * {
    box-sizing: border-box;
}
.section {
    background: #2f3666;
    height: 100%;
    position: relative;
    padding: 44px 80px 44px 80px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
}


.topSection,
.topSection * {
    box-sizing: border-box;
}
.topSection {
    /*padding: 80px;*/
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.bottomSection,
.bottomSection * {
    box-sizing: border-box;
}
.bottomSection {
    padding: 80px;
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 64px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}
.sectionText {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    position: relative;
}
.top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.caption {
    color: #fe900f;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: var(--other-caption-font-size, 20px);
    line-height: var(--other-caption-line-height, 100%);
    letter-spacing: var(--other-caption-letter-spacing, 1px);
    font-weight: var(--other-caption-font-weight, 700);
    text-transform: uppercase;
    position: relative;
    align-self: stretch;
}
.secondaryHeadline {
    color: #ffffff;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 42px;
    line-height: 110%;
    font-weight:  700;
    /*height: 150px;*/
    position: relative;
    align-self: stretch;
}


.rectangle128,
.rectangle128 * {
    box-sizing: border-box;
}


.subdivideLine,
.subdivideLine * {
    box-sizing: border-box;
}
.subdivideLine {
    height: 86px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    bottom: 0;
    z-index: 1;
    overflow: visible;
}

.vector2,
.vector2 * {
    box-sizing: border-box;
}
.vector2 {
    height: 76px;
    position: absolute;
    overflow: visible;
    object-fit: cover;
    width: 100%;
    bottom: 0;
}

.image7,
.image7 * {
    box-sizing: border-box;
}
.image7 {
    border-radius: 10px;
    height: 100%;
    position: relative;
    object-fit: cover;
    width: 50%;
}

.vision{
    font-weight: 800;
    font-family: "Roboto", Helvetica;
}
.paragraph {
    color:  #ffffff;
    text-align: left;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    height: 100%;
    width: 50%;
}

@media (max-width: 768px) {
    .bottomSection {
        padding: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 64px;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }
    .section{
        padding: 20px;
    }
    .image7 {
        height: 350px;
        width: 100%;
    }
    .paragraph{
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .section{
        padding: 20px;
    }
    .bottomSection {
        padding: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 64px;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }
    .image7 {
        height: 450px;
        width: 100%;
    }
    .paragraph{
        width: 100%;
    }
}

@media (min-width: 1025px) {

}