.section,
.section * {
    box-sizing: border-box;
}

.section {
    background: #ffffff;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
}


.topSection,
.topSection * {
    box-sizing: border-box;
}

.topSection {
    /*padding: 80px;*/
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    top: 100px;
}

.bottomSection,
.bottomSection * {
    box-sizing: border-box;
}

.bottomSection {
    /*padding: 80px;*/
    padding-top: 80px;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    gap: 64px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.bottomSection1,
.bottomSection1 * {
    box-sizing: border-box;
}

.bottomSection1 {
    /*padding: 80px;*/
    display: flex;
    width: 100%;
    height: 900px;
    flex-direction: row;
    gap: 64px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.sectionText {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    position: relative;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.caption {
    color: #fe900f;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size:  20px;
    line-height:  100%;
    letter-spacing:  1px;
    font-weight:  700;
    text-transform: uppercase;
    position: relative;
    align-self: stretch;
}

.secondaryHeadline {
    color: #21272A;
    text-align: center;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 42px;
    line-height: 110%;
    font-weight:  700;
    position: relative;
    align-self: stretch;
}

.secondaryHeadline1 {
    color: #21272A;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: 33px;
    line-height: 110%;
    font-weight: 700;
    position: relative;
    align-self: stretch;
    padding-bottom: 20px;
}


.rectangle128,
.rectangle128 * {
    box-sizing: border-box;
}


.subdivideLine,
.subdivideLine * {
    box-sizing: border-box;
}

.subdivideLine {
    height: 86px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    top: 0;
    z-index: 1;
    overflow: visible;
}

.subdivideLine1,
.subdivideLine1 * {
    box-sizing: border-box;
}

.subdivideLine1 {
    height: 86px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    bottom: -1px;
    z-index: 1;
    overflow: visible;
}

.vector2,
.vector2 * {
    box-sizing: border-box;
}

.vector2 {
    height: 76px;
    position: absolute;
    overflow: visible;
    object-fit: cover;
    width: 100%;
    top: 0;
}

.vector1,
.vector1 * {
    box-sizing: border-box;
}

.vector1 {
    height: 76px;
    position: absolute;
    overflow: visible;
    object-fit: cover;
    width: 100%;
    bottom: -1px;
}

.image7,
.image7 * {
    box-sizing: border-box;
}

.image7 {
    border-radius: 10px;
    height: 100%;
    width: 50%;
    left: -80px;
    bottom: 130px;
    position: absolute;
    object-fit: fill;
}

.vision {
    font-weight: 800;
    font-family: "Roboto", Helvetica;
}

.paragraph {
    color: var(--coolgray-90, #21272a);;
    text-align: left;
    font-family: "Roboto", Helvetica;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    position: relative;
    align-self: stretch;
    width: 50%;
    height: 161px;
}

.paragraphTitle,
.paragraphTitle * {
    box-sizing: border-box;
}

.paragraphTitle {
    text-wrap: wrap;
    color:  #21272a;
    text-align: center;
    font-family: "Roboto-Regular", sans-serif;
    font-size:  18px;
    line-height: 140%;
    font-weight:  700;
    position: relative;
}


.forma1,
.forma1 * {
    box-sizing: border-box;
}

.forma1 {
    border-radius: 10px;
    height: 100%;
    position: relative;
    width: 50%;
    transform: rotate(176deg) scale(-1, -1);
    object-fit: cover;
}

.forma2,
.forma2 * {
    box-sizing: border-box;
}

.forma2 {
    border-radius: 10px;
    height: 100%;
    position: relative;
    width: 50%;
    transform: rotate(176deg) scale(-1, -1);
    object-fit: cover;
}

@media (max-width: 768px) {
    .bottomSection {
        padding: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 64px;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }

    .bottomSection1 {
        padding: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        height: 100%;
        gap: 64px;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }

    .section {
        padding: 20px;
        gap:10px;
    }

    .forma1 {
        height: 365px;
        top: 95px;
        width: 455px;
        right: 13px;
    }

    .forma2 {
        height: 344px;
        top: 20px;
        left: 20px;
        width: 455px;
        right: 13px;
    }
    .image7  {
        height: 60%;
        width: 100%;
        object-fit: fill;
        bottom:500px
    }

    .paragraph {
        width: 100%;
        height: 100%;
        padding-bottom: 40px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .section {
        padding: 20px;
    }

    .bottomSection {
        padding: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 64px;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }

    .bottomSection1 {
        padding: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 64px;
        height: 100%;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
    }


    .forma1 {
        height: 100%;
        width: 100%;
    }
    .image7  {
        height: 60%;
        width: 100%;
        object-fit: fill;
        bottom:400px
    }


    .paragraph {
        width: 100%;
        height: 100%;
        padding-bottom: 40px;
    }
}

@media (min-width: 1025px) {

}
