.section,
.section * {
    box-sizing: border-box;
}
.section {
    background: #ffffff;
    padding: 44px 80px 44px 80px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}
.content {
    padding: 32px 0 32px 0;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}
.sectionText {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.caption {
    color: #fe900f;
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: var(--other-caption-font-size, 20px);
    line-height: var(--other-caption-line-height, 100%);
    letter-spacing: var(--other-caption-letter-spacing, 1px);
    font-weight: var(--other-caption-font-weight, 700);
    text-transform: uppercase;
    position: relative;
    align-self: stretch;
}
.secondaryHeadline {
    color: var(--coolgray-90, #21272a);
    text-align: left;
    font-family: "Roboto-Bold", sans-serif;
    font-size: var(--heading-2-font-size, 42px);
    line-height: var(--heading-2-line-height, 110%);
    font-weight: var(--heading-2-font-weight, 700);
    position: relative;
    align-self: stretch;
}
.frame1 {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}
.frame2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}
.modalitIsolamento {
    flex-shrink: 0;
    width: 89.74px;
    height: 100px;
    position: relative;
    overflow: visible;
}
.paragraph {
    color: var(--coolgray-90, #21272a);
    text-align: left;
    font-family: "Roboto-Regular", sans-serif;
    font-size: var(--body-l-font-size, 18px);
    line-height: var(--body-l-line-height, 140%);
    font-weight: var(--body-l-font-weight, 400);
    position: relative;
    align-self: stretch;
}
.frame12 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 1;
    position: relative;
}
.modalitIsolamento2 {
    flex-shrink: 0;
    width: 96.12px;
    height: 100px;
    position: relative;
    overflow: visible;
}
.buttonsGroup {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
}
.forma51 {
    flex-shrink: 0;
    width: 585px;
    height: 552px;
    position: relative;
    /*box-shadow: var(*/
    /*        --drop-shadow-box-shadow,*/
    /*        0px 33px 43.2px 0px rgba(0, 0, 0, 0.21)*/
    /*);*/
    overflow: hidden;
    object-fit: cover;
}

.subdivideLine,
.subdivideLine * {
    box-sizing: border-box;
}
.subdivideLine {
    height: 86px;
    position: absolute;
    object-fit: cover;
    width: 100%;
    bottom: -1px;
    z-index: 1;
    overflow: visible;
}

.vector2,
.vector2 * {
    box-sizing: border-box;
}
.vector2 {
    height: 76px;
    position: absolute;
    overflow: visible;
    object-fit: cover;
    width: 100%;
    bottom: -4px;
}

.section {
    position: relative;
    width: 100%;
    height: 100%;
}


/* Mobile styles */
@media (max-width: 768px) {
   .forma51{
       display: none;
   }

}

/* Tablet styles */
@media (min-width: 769px) and (max-width: 1024px) {
    .forma51{
        display: none;
    }
}

/* Desktop styles */
@media (min-width: 1025px) {
    .heroContent {
        /*padding: 4rem 3rem;*/
    }

}