.supportedBy {
    text-align: center;
    height: 250px;
    background: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.heading {
    font-family: var(--heading-2-font-family);
    font-weight: var(--heading-2-font-weight);
    font-size: var(--heading-2-font-size);
}
.frame26 {
    display: inline-flex;
    align-items: stretch;
    /* position: relative; */
    left: 169px;
    justify-content: center;
}
.sectionText12 {
    width: 308px;
    align-items: flex-start;
    justify-content: center;
    gap: 9px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.top4 {
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.caption2 {
    width: fit-content;
    white-space: nowrap;
    position: relative;
    margin-top: -1px;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    color: #fe900f;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 20px;
}
.secondaryHeadline2 {
    width: fit-content;
    color: var(--coolgray-90);
    letter-spacing: 0;
    line-height: 46.2px;
    white-space: nowrap;
    position: relative;
    font-family: "Roboto", Helvetica;
    font-weight: 700;
    font-size: 42px;
}
.image15 {
    position: relative;
    width: 795px;
    height: 81.62px;
    object-fit: cover;
}
.supporterList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .supportedBy {
        text-align: center;
        height: 500px;
        background: #ffffff;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .frame26 {
        display: inline-flex;
        align-items: stretch;
        /* position: relative; */
        left: 169px;
        flex-direction: column;
        justify-content: space-evenly;

    }
    .caption2{
        width: fit-content;
        white-space: nowrap;
        position: relative;
        margin-top: -1px;
        font-family: "Roboto", Helvetica;
        font-weight: 700;
        color: #fe900f;
        font-size: 20px;
        align-self: center;
        line-height: 20px;
    }
    .sectionText12{
        width: 308px;
        align-self: center;
        align-items: flex-start;
        justify-content: center;
        gap: 9px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .image15{
        display: none;
    }
    .image1{
        /*display: none;*/
        position: relative;
        width: 100%;
        height: 82px;
    }
    .image2{
        /*display: none;*/
        position: relative;
        width: 100%;
        height: 74px;
        object-fit: cover;
    }
    .heading {
        font-size: 24px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .supportedBy {
        text-align: center;
        height: 500px;
        background: #ffffff;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .frame26 {
        display: inline-flex;
        align-items: stretch;
        /* position: relative; */
        left: 169px;
        flex-direction: column;
        justify-content: space-evenly;

    }
    .caption2{
        width: fit-content;
        white-space: nowrap;
        position: relative;
        margin-top: -1px;
        font-family: "Roboto", Helvetica;
        font-weight: 700;
        color: #fe900f;
        font-size: 20px;
        align-self: center;
        line-height: 20px;
    }
    .sectionText12{
        width: 308px;
        align-self: center;
        align-items: flex-start;
        justify-content: center;
        gap: 9px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .image1{
        display: none;

    }
    .image2{
        display: none;

    }
    .heading {
        font-size: 24px;
    }
}

@media (min-width: 1025px) {
    .heading {
        font-size: 42px;
    }
    .image1{
        display: none;

    }
    .image2{
        display: none;

    }
}