:root {
    --max-content-width: 1200px;
    --coolgray-90: rgba(33, 39, 42, 1);
    --defaultwhite: rgba(255, 255, 255, 1);
    --body-s-font-family: "Roboto", Helvetica;
    --body-s-font-weight: 400;
    --body-s-font-size: 14px;
    --body-s-letter-spacing: 0px;
    --body-s-line-height: 139.9999976158142%;
    --body-s-font-style: normal;
    --other-caption-font-family: "Roboto", Helvetica;
    --other-caption-font-weight: 700;
    --other-caption-font-size: 20px;
    --other-caption-letter-spacing: 1px;
    --other-caption-line-height: 100%;
    --other-caption-font-style: normal;
    --heading-2-font-family: "Roboto", Helvetica;
    --heading-2-font-weight: 700;
    --heading-2-font-size: 42px;
    --heading-2-letter-spacing: 0px;
    --heading-2-line-height: 110.00000238418579%;
    --heading-2-font-style: normal;
    --button-l-font-family: "Roboto", Helvetica;
    --button-l-font-weight: 500;
    --button-l-font-size: 20px;
    --button-l-letter-spacing: 0.5px;
    --button-l-line-height: 100%;
    --button-l-font-style: normal;
    --body-l-font-family: "Roboto", Helvetica;
    --body-l-font-weight: 400;
    --body-l-font-size: 18px;
    --body-l-letter-spacing: 0px;
    --body-l-line-height: 139.9999976158142%;
    --body-l-font-style: normal;
    --label-01-font-family: "Inter", Helvetica;
    --label-01-font-weight: 500;
    --label-01-font-size: 14px;
    --label-01-letter-spacing: 0px;
    --label-01-line-height: 20px;
    --label-01-font-style: normal;
    --other-menu-m-font-family: "Roboto", Helvetica;
    --other-menu-m-font-weight: 500;
    --other-menu-m-font-size: 16px;
    --other-menu-m-letter-spacing: 0px;
    --other-menu-m-line-height: 100%;
    --other-menu-m-font-style: normal;
}